In [197]:
import pandas as pd
import geopandas as gp
import numpy as np
import censusgeocode as cg
import time
import os

In [198]:
data_path = '/Users/ameliabaum/Desktop/Amelia/Berkeley 2018-2019/EnRes C190/evictionmodel_190final/data/'
#table B02001 race
#race_feature = {}
race_feature = []
for race_file in os.listdir(data_path+'B02001_race'):
    year = '20'+race_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'B02001_race/'+race_file)
        df["Year"] = year    
        race_feature.append(df)
allyears_race = pd.concat(race_feature, axis=0, sort=False)
allyears_race["geoid_year"] = allyears_race['Id2'].astype(str) + allyears_race["Year"].astype(str)


#table B25071 rent burden
burden_feature = []
for burden_file in os.listdir(data_path+'B25071_burden'):
    year = '20'+burden_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'B25071_burden/'+burden_file)
        df["Year"] = year
        
        burden_feature.append(df)
allyears_burden = pd.concat(burden_feature, axis=0, sort=False)
allyears_burden["geoid_year"] = allyears_burden['Id2'].astype(str) + allyears_burden["Year"].astype(str)        


#table S1101 household size
hsize_feature = []
for size_file in os.listdir(data_path+'S1101_size'):
    year = '20'+size_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'S1101_size/'+size_file)
        df["Year"] = year
        
        hsize_feature.append(df)
allyears_hsize = pd.concat(hsize_feature, axis=0, sort=False)
allyears_hsize["geoid_year"] = allyears_hsize['Id2'].astype(str) + allyears_hsize["Year"].astype(str)

#table S1501 % with bachelors degree
edu_feature = []
for edu_file in os.listdir(data_path+'S1501_edu'):
    year = '20'+edu_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'S1501_edu/'+edu_file)
        df["Year"] = year
        
        edu_feature.append(df)
allyears_edu = pd.concat(edu_feature, axis=0, sort=False)
allyears_edu["geoid_year"] = allyears_edu['Id2'].astype(str) + allyears_edu["Year"].astype(str)
# allyears_built = allyears_built.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", 'Estimate; Median year structure built': "Median year structure built", 
#         "Year": "Year", "geoid_year": "geoid_year"})


#table B25035 median year built
built_feature = []
for built_file in os.listdir(data_path+'B25035_yearbuilt'):
    year = '20'+built_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'B25035_yearbuilt/'+built_file)
        df["Year"] = year
        built_feature.append(df)
allyears_built = pd.concat(built_feature, axis=0, sort=False)
allyears_built["geoid_year"] = allyears_built['Id2'].astype(str) + allyears_built["Year"].astype(str)
# allyears_built = allyears_built.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", 'Estimate; Median year structure built': "Median year structure built", 
#         "Year": "Year", "geoid_year": "geoid_year"})



#table B25039 median renter moved in
moved_feature = []
for moved_file in os.listdir(data_path+'B25039_moved'):
    year = '20'+ moved_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'B25039_moved/'+moved_file)
        df["Year"] = year
        moved_feature.append(df)
        print(df.columns)
allyears_moved = pd.concat(moved_feature, axis=0, sort=False)
allyears_moved["geoid_year"] = allyears_moved['Id2'].astype(str) + allyears_moved["Year"].astype(str)
allyears_moved_rename = allyears_moved.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", 
'Estimate; Renter occupied': "Median Year Renter Moved Into Unit", 
'Estimate; Median year householder moved into unit -- - Renter occupied':"Median Year Renter Moved Into Unit"})
#.drop("drop this", axis=1)


#table B25001 housing units in tract
units_feature = []
for units_file in os.listdir(data_path+'B25001_units'):
    year = '20'+units_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'B25001_units/'+units_file)
        df["Year"] = year
        
        units_feature.append(df)
allyears_units = pd.concat(units_feature, axis=0, sort=False)
allyears_units["geoid_year"] = allyears_units['Id2'].astype(str) + allyears_units["Year"].astype(str)
allyears_units.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", "Estimate; Total": "Housing Units", 
                       "Year": "Year", "geoid_year": "geoid_year"}).head()

Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')

,Geoid,Census Tract,Housing Units,Year,geoid_year
0,6075010100,"Census Tract 101, San Francisco County, Califo...",2307,2015,60750101002015
1,6075010200,"Census Tract 102, San Francisco County, Califo...",3085,2015,60750102002015
2,6075010300,"Census Tract 103, San Francisco County, Califo...",2395,2015,60750103002015
3,6075010400,"Census Tract 104, San Francisco County, Califo...",2805,2015,60750104002015
4,6075010500,"Census Tract 105, San Francisco County, Califo...",1969,2015,60750105002015

In [199]:
allyears_burden
allyears_hsize
allyears_edu
allyears_built
allyears_moved
#allyears_units

,Id2,Geography,Estimate; Median year householder moved into unit -- - Renter occupied,Year,geoid_year
0,6075010100,"Census Tract 101, San Francisco County, Califo...",2004,2009,60750101002009
1,6075010200,"Census Tract 102, San Francisco County, Califo...",2003,2009,60750102002009
2,6075010300,"Census Tract 103, San Francisco County, Califo...",2003,2009,60750103002009
3,6075010400,"Census Tract 104, San Francisco County, Califo...",2003,2009,60750104002009
4,6075010500,"Census Tract 105, San Francisco County, Califo...",2004,2009,60750105002009
5,6075010600,"Census Tract 106, San Francisco County, Califo...",2002,2009,60750106002009
6,6075010700,"Census Tract 107, San Francisco County, Califo...",2001,2009,60750107002009
7,6075010800,"Census Tract 108, San Francisco County, Califo...",2002,2009,60750108002009
8,6075010900,"Census Tract 109, San Francisco County, Califo...",2003,2009,60750109002009
9,6075011000,"Census Tract 110, San Francisco County, Califo...",2002,2009,60750110002009
10,6075011100,"Census Tract 111, San Francisco County, Califo...",2002,2009,60750111002009
11,6075011200,"Census Tract 112, San Francisco County, Califo...",2001,2009,60750112002009
12,6075011300,"Census Tract 113, San Francisco County, Califo...",1996,2009,60750113002009
13,6075011400,"Census Tract 114, San Francisco County, Califo...",1995,2009,60750114002009
14,6075011500,"Census Tract 115, San Francisco County, Califo...",2005+,2009,60750115002009
15,6075011700,"Census Tract 117, San Francisco County, Califo...",2000,2009,60750117002009
16,6075011800,"Census Tract 118, San Francisco County, Califo...",1997,2009,60750118002009
17,6075011900,"Census Tract 119, San Francisco County, Califo...",2002,2009,60750119002009
18,6075012000,"Census Tract 120, San Francisco County, Califo...",2004,2009,60750120002009
19,6075012100,"Census Tract 121, San Francisco County, Califo...",2004,2009,60750121002009
20,6075012200,"Census Tract 122, San Francisco County, Califo...",2003,2009,60750122002009
21,6075012300,"Census Tract 123, San Francisco County, Califo...",2005+,2009,60750123002009
22,6075012400,"Census Tract 124, San Francisco County, Califo...",2002,2009,60750124002009
23,6075012500,"Census Tract 125, San Francisco County, Califo...",2004,2009,60750125002009
24,6075012600,"Census Tract 126, San Francisco County, Califo...",2004,2009,60750126002009
25,6075012700,"Census Tract 127, San Francisco County, Califo...",2005+,2009,60750127002009
26,6075012800,"Census Tract 128, San Francisco County, Califo...",2004,2009,60750128002009
27,6075012900,"Census Tract 129, San Francisco County, Califo...",2004,2009,60750129002009
28,6075013000,"Census Tract 130, San Francisco County, Califo...",2004,2009,60750130002009
29,6075013100,"Census Tract 131, San Francisco County, Califo...",2003,2009,60750131002009
...,...,...,...,...,...
167,6075040200,"Census Tract 402, San Francisco County, Califo...",2009,2016,60750402002016
168,6075042601,"Census Tract 426.01, San Francisco County, Cal...",2009,2016,60750426012016
169,6075042602,"Census Tract 426.02, San Francisco County, Cal...",2008,2016,60750426022016
170,6075042700,"Census Tract 427, San Francisco County, Califo...",2009,2016,60750427002016
171,6075042800,"Census Tract 428, San Francisco County, Califo...",2010,2016,60750428002016
172,6075045100,"Census Tract 451, San Francisco County, Califo...",2010,2016,60750451002016
173,6075045200,"Census Tract 452, San Francisco County, Califo...",2010,2016,60750452002016
174,6075047600,"Census Tract 476, San Francisco County, Califo...",2006,2016,60750476002016
175,6075047701,"Census Tract 477.01, San Francisco County, Cal...",2002,2016,60750477012016
176,6075047702,"Census Tract 477.02, San Francisco County, Cal...",2008,2016,60750477022016
177,6075047801,"Census Tract 478.01, San Francisco County, Cal...",2011,2016,60750478012016
178,6075047802,"Census Tract 478.02, San Francisco County, Cal...",2010,2016,60750478022016
179,6075047901,"Census Tract 479.01, San Francisco County, Cal...",2008,2016,60750479012016
180,6075047902,"Census Tract 479.02, San Francisco County, Cal...",2009,2016,60750479022016
181,6075060100,"Census Tract 601, San Francisco County, Califo...",-,2016,60750601002016
182,6075060400,"Census Tract 604, San Francisco County, Califo...",2011,2016,60750604002016
183,6075060502,"Census Tract 605.02, San Francisco County, Cal...",2007,2016,60750605022016
184,6075060700,"Census Tract 607, San Francisco County, Califo...",2012,2016,60750607002016
185,6075061000,"Census Tract 610, San Francisco County, Califo...",2012,2016,60750610002016
186,6075061100,"Census Tract 611, San Francisco County, Califo...",2006,2016,60750611002016
187,6075061200,"Census Tract 612, San Francisco County, Califo...",2008,2016,60750612002016
188,6075061400,"Census Tract 614, San Francisco County, Califo...",2012,2016,60750614002016
189,6075061500,"Census Tract 615, San Francisco County, Califo...",2012,2016,60750615002016
190,6075980200,"Census Tract 9802, San Francisco County, Calif...",2013,2016,60759802002016
191,6075980300,"Census Tract 9803, San Francisco County, Calif...",2011,2016,60759803002016
192,6075980401,"Census Tract 9804.01, San Francisco County, Ca...",-,2016,60759804012016
193,6075980501,"Census Tract 9805.01, San Francisco County, Ca...",2007,2016,60759805012016
194,6075980600,"Census Tract 9806, San Francisco County, Calif...",2012,2016,60759806002016
195,6075980900,"Census Tract 9809, San Francisco County, Calif...",2011,2016,60759809002016
196,6075990100,"Census Tract 9901, San Francisco County, Calif...",-,2016,60759901002016

In [201]:
grouped_evictions = pd.read_csv('/Users/ameliabaum/Desktop/Amelia/Berkeley 2018-2019/EnRes C190/evictionmodel_190final/data/evictions_geocoded11_tractandyear.csv')
grouped_evictions["num evictions"] = grouped_evictions["Eviction ID"]
grouped_evictions["geoid_year"] = grouped_evictions["Geoid"].astype(str) + grouped_evictions["Year"].astype(str)
grouped_evictions = grouped_evictions[["Geoid", "Year", "Eviction ID", "Tract", "geoid_year"]]
grouped_evictions.head()

        Geoid  Year  Eviction ID    Tract      geoid_year
0  6075010100  2011            2  10100.0  60750101002011
1  6075010200  2012            1  10200.0  60750102002012
2  6075010200  2017            1  10200.0  60750102002017
3  6075010300  2012            2  10300.0  60750103002012
4  6075010300  2013            2  10300.0  60750103002013

In [202]:
race = grouped_evictions.merge(allyears_race, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu = race.merge(allyears_edu, how='left', left_on="geoid_year", right_on="geoid_year")
race_edu_units = race_edu.merge(allyears_units, how='left', left_on="geoid_year", right_on="geoid_year")
race_edu_units_built = race_edu_units.merge(allyears_built, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu_units_built_moved = race_edu_units_built.merge(allyears_moved, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu_units_built_moved_hsize = race_edu_units_built_moved.merge(allyears_hsize, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu_units_built_moved_burden = race_edu_units_built_moved_hsize.merge(allyears_burden, how='left', left_on="geoid_year", right_on="geoid_year")



#race_edu_units_built_moved_burden.fillna("missing", inplace=True)

In [205]:
race_edu_units_built_moved_burden.columns

Index(['Geoid', 'Year_x', 'Eviction ID', 'Tract', 'geoid_year', 'Id2_x',
       'Geography_x', 'Estimate; Total:', 'Estimate; Total: - White alone',
       'Estimate; Total: - Black or African American alone',
       'Estimate; Total: - American Indian and Alaska Native alone',
       'Estimate; Total: - Asian alone',
       'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone',
       'Year_y', 'Id2_y', 'Geography_y', 'Total; Estimate; Bachelor's degree',
       'Year_x', 'Id2_x', 'Geography_x', 'Estimate; Total', 'Year_y', 'Id2_y',
       'Geography_y', 'Estimate; Median year structure built', 'Year_x',
       'Id2_x', 'Geography_x',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year_y', 'Id2_y', 'Geography_y',
       'Total; Estimate; Average household size', 'Year_x', 'Id2', 'Geography',
       'Estimate; Median gross rent as a percentage of household income',
       'Year_y'],
      dtype='object')

In [236]:
clean_data = race_edu_units_built_moved_burden[['Geoid','Year_x', 'Eviction ID', 'geoid_year', 'Estimate; Total:', 'Estimate; Total: - White alone',
       'Estimate; Total: - Black or African American alone',
       'Estimate; Total: - American Indian and Alaska Native alone',
       'Estimate; Total: - Asian alone',
    'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone', 
        'Total; Estimate; Bachelor\'s degree', 'Estimate; Total', 'Estimate; Median year structure built', 
        'Total; Estimate; Average household size', 'Estimate; Median gross rent as a percentage of household income']]
clean_data["Year"] = clean_data['Year_x'].iloc[:,0]
clean_data1 = clean_data.drop("Year_x", axis=1)

/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [237]:
clean_data1 = clean_data1[clean_data1["Geoid"] != "Nan"] #this drops the last 4 rows which is correcct
clean_data1

,Geoid,Eviction ID,geoid_year,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Median year householder moved into unit -- - Renter occupied,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Total; Estimate; Bachelor's degree,Estimate; Total,Estimate; Median year structure built,Total; Estimate; Average household size,Estimate; Median gross rent as a percentage of household income,Year
0,6075010100,2,60750101002011,3851.0,1686.0,346.0,11.0,1507.0,2005+,0.0,34,2278.0,1971,1.75,28.4,2011
1,6075010200,1,60750102002012,4040.0,3330.0,45.0,0.0,354.0,2005,0.0,42.1,2946.0,1939-,1.51,22.5,2012
2,6075010200,1,60750102002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
3,6075010300,2,60750103002012,4393.0,2849.0,0.0,0.0,1544.0,2005,0.0,31.1,2254.0,1939-,2.26,24.3,2012
4,6075010300,2,60750103002013,4729.0,2730.0,0.0,0.0,1901.0,2007,0.0,31.3,2303.0,1939-,2.29,26.1,2013
5,6075010300,3,60750103002014,4346.0,2657.0,0.0,0.0,1557.0,2008,0.0,5.8,2317.0,1939-,2.15,25.4,2014
6,6075010300,4,60750103002015,4387.0,2489.0,0.0,0.0,1700.0,2009,0.0,1155,2395.0,1939-,2.16,24.2,2015
7,6075010300,1,60750103002016,4341.0,2673.0,0.0,0.0,1454.0,2010,0.0,1232,2378.0,1939-,2.13,22.6,2016
8,6075010300,1,60750103002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
9,6075010300,2,60750103002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
10,6075010400,4,60750104002011,4531.0,3092.0,1.0,0.0,1210.0,2004,0.0,38.1,2952.0,1939-,1.83,20.6,2011
11,6075010400,3,60750104002012,4749.0,3061.0,1.0,0.0,1373.0,2005,0.0,35.4,2889.0,1939-,1.94,23.6,2012
12,6075010400,4,60750104002013,5103.0,3097.0,1.0,0.0,1465.0,2007,0.0,38.3,2875.0,1939-,1.98,24.3,2013
13,6075010400,4,60750104002015,5148.0,3133.0,0.0,0.0,1429.0,2008,0.0,1732,2805.0,1939-,2.01,24.6,2015
14,6075010400,5,60750104002016,5028.0,3111.0,0.0,5.0,1413.0,2008,0.0,1611,2844.0,1939-,2,24.8,2016
15,6075010400,2,60750104002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
16,6075010400,4,60750104002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
17,6075010600,1,60750106002013,3607.0,1215.0,78.0,0.0,2002.0,2004,0.0,27.6,2145.0,1939-,1.99,34.9,2013
18,6075010600,1,60750106002014,3664.0,1164.0,36.0,0.0,2223.0,2005,0.0,6.2,2116.0,1939-,1.99,33.9,2014
19,6075010600,3,60750106002015,3604.0,1244.0,64.0,0.0,2113.0,2008,0.0,844,2098.0,1939-,1.93,27.8,2015
20,6075010600,1,60750106002016,3567.0,1260.0,58.0,0.0,2150.0,2010,0.0,819,2097.0,1939-,1.97,27.5,2016
21,6075010600,1,60750106002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
22,6075010700,1,60750107002012,5555.0,991.0,162.0,10.0,4290.0,2003,0.0,20.3,2927.0,1939-,2.08,32.7,2012
23,6075010700,1,60750107002015,5302.0,1246.0,0.0,0.0,3998.0,2007,0.0,905,2750.0,1939-,2.19,33.7,2015
24,6075010800,1,60750108002011,4819.0,2322.0,70.0,17.0,2260.0,2003,0.0,44.4,2800.0,1939-,1.96,22.4,2011
25,6075010800,1,60750108002012,4811.0,2270.0,74.0,23.0,2354.0,2002,0.0,42.2,2785.0,1939-,1.95,24.9,2012
26,6075010800,1,60750108002013,4925.0,2348.0,15.0,9.0,2379.0,2004,0.0,51.1,2786.0,1939-,1.96,26.3,2013
27,6075010800,3,60750108002014,4779.0,2239.0,0.0,9.0,2286.0,2005,0.0,6.2,2755.0,1939-,1.95,22.6,2014
28,6075010800,4,60750108002015,5065.0,2337.0,0.0,11.0,2423.0,2005,0.0,1960,2787.0,1939-,2.01,22.4,2015
29,6075010800,5,60750108002016,4514.0,2210.0,0.0,0.0,2004.0,2004,0.0,1590,2743.0,1939-,1.86,21.9,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,6075047802,3,60750478022017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
803,6075047802,2,60750478022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
804,6075047901,1,60750479012011,6525.0,2888.0,275.0,45.0,2829.0,2005+,43.0,31.4,2784.0,1943,2.49,28.1,2011
805,6075047901,2,60750479012012,6775.0,3302.0,96.0,47.0,2771.0,2005,22.0,32.4,2802.0,1943,2.51,27.9,2012
806,6075047901,3,60750479012013,6445.0,3182.0,150.0,35.0,2407.0,2005,14.0,32.2,2770.0,1944,2.48,29.5,2013
807,6075047901,2,60750479012014,6571.0,3490.0,159.0,0.0,2461.0,2006,21.0,5.2,2789.0,1944,2.47,30.6,2014
808,6075047901,4,60750479012015,6865.0,3303.0,190.0,0.0,2868.0,2007,0.0,1694,2796.0,1943,2.56,33.2,2015
809,6075047901,5,60750479012016,6860.0,3282.0,184.0,0.0,2961.0,2008,0.0,1710,2819.0,1943,2.52,32.8,2016
810,6075047901,7,60750479012017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
811,6075047901,2,60750479012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
812,6075047902,1,60750479022012,3813.0,1911.0,30.0,0.0,1490.0,2005,0.0,35.3,1649.0,1940,2.44,29.8,2012
813,6075047902,1,60750479022013,3645.0,1869.0,27.0,0.0,1425.0,2006,0.0,34.1,1669.0,1940,2.31,31.8,2013
814,6075047902,1,60750479022015,3722.0,1784.0,44.0,0.0,1487.0,2007,0.0,982,1634.0,1939-,2.5,32.8,2015
815,6075047902,1,60750479022016,3701.0,1772.0,39.0,0.0,1414.0,2009,0.0,952,1643.0,1939-,2.45,32.4,2016
816,6075047902,1,60750479022017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
817,6075060700,1,60750607002011,7092.0,3264.0,169.0,0.0,3084.0,2005+,0.0,37.1,3913.0,2005,1.95,26.3,2011
818,6075061000,1,60750610002015,4587.0,859.0,419.0,19.0,2226.0,2011,34.0,988,1618.0,2000,2.96,27.3,2015
819,6075061000,3,60750610002016,4730.0,843.0,711.0,12.0,2444.0,2012,0.0,1066,1629.0,1999,2.96,29,2016
820,6075061100,1,60750611002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
821,6075061200,1,60750612002011,3807.0,1191.0,926.0,0.0,950.0,2004,0.0,11.2,1223.0,1942,3.39,35,2011
822,6075061200,2,60750612002012,3713.0,858.0,907.0,61.0,894.0,2004,0.0,9.6,1195.0,1941,3.46,43.9,2012
823,6075061200,1,60750612002015,4296.0,792.0,880.0,70.0,1100.0,2007,8.0,425,1242.0,1948,3.59,34.8,2015
824,6075061400,1,60750614002011,5343.0,2943.0,1106.0,199.0,577.0,2005+,141.0,32.8,2610.0,1947,2.23,25.1,2011
825,6075061400,1,60750614002012,5301.0,3448.0,350.0,296.0,623.0,2005,174.0,33,2600.0,1948,2.27,23.9,2012
826,6075061400,3,60750614002013,5488.0,3566.0,425.0,321.0,522.0,2007,195.0,34,2653.0,1945,2.29,22.5,2013
827,6075061400,8,60750614002014,5625.0,3862.0,290.0,0.0,846.0,2010+,136.0,6.5,2662.0,1945,2.31,21,2014
828,6075061400,3,60750614002015,6140.0,3679.0,469.0,13.0,954.0,2011,70.0,1511,2644.0,1939-,2.45,19.3,2015
829,6075061400,3,60750614002016,6035.0,3263.0,566.0,15.0,932.0,2012,65.0,1545,2625.0,1939-,2.43,19.5,2016
830,6075061500,1,60750615002015,12511.0,7293.0,154.0,31.0,4267.0,2011,0.0,4264,8825.0,2001,1.68,24.2,2015
831,6075061500,1,60750615002016,13057.0,7187.0,162.0,33.0,4797.0,2012,4.0,4483,9224.0,2001,1.71,23.2,2016

In [257]:
clean_data1["Median Year Structure Built"] = clean_data1["Estimate; Median year structure built"].astype(str).apply(lambda x: x.replace("+", "").replace("-", ""))
clean_data1["Median Year Moved In"] = clean_data1["Estimate; Median year householder moved into unit -- - Renter occupied"].astype(str).apply(lambda x: x.replace("+", "").replace("-", ""))
clean_data1["Percent with Bachelor's degree"] = clean_data1["Total; Estimate; Bachelor's degree"].astype(str).apply(lambda x: x.replace("+", "").replace("-", ""))
clean_data1["Median rent burden"] = clean_data1["Estimate; Median gross rent as a percentage of household income"].astype(str).apply(lambda x: x.replace("+", "").replace("-", ""))

clean_data1.drop(["Estimate; Median year structure built", "Estimate; Median year householder moved into unit -- - Renter occupied", "Total; Estimate; Bachelor's degree", "Estimate; Median gross rent as a percentage of household income"], axis=1)

,Geoid,Eviction ID,geoid_year,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Estimate; Total,Total; Estimate; Average household size,Year,Median Year Structure Built,Median Year Moved In,Percent with Bachelor's degree,Median rent burden
0,6075010100,2,60750101002011,3851.0,1686.0,346.0,11.0,1507.0,0.0,2278.0,1.75,2011,1971,2005,34,28.4
1,6075010200,1,60750102002012,4040.0,3330.0,45.0,0.0,354.0,0.0,2946.0,1.51,2012,1939,2005,42.1,22.5
2,6075010200,1,60750102002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,nan,nan,nan,nan
3,6075010300,2,60750103002012,4393.0,2849.0,0.0,0.0,1544.0,0.0,2254.0,2.26,2012,1939,2005,31.1,24.3
4,6075010300,2,60750103002013,4729.0,2730.0,0.0,0.0,1901.0,0.0,2303.0,2.29,2013,1939,2007,31.3,26.1
5,6075010300,3,60750103002014,4346.0,2657.0,0.0,0.0,1557.0,0.0,2317.0,2.15,2014,1939,2008,5.8,25.4
6,6075010300,4,60750103002015,4387.0,2489.0,0.0,0.0,1700.0,0.0,2395.0,2.16,2015,1939,2009,1155,24.2
7,6075010300,1,60750103002016,4341.0,2673.0,0.0,0.0,1454.0,0.0,2378.0,2.13,2016,1939,2010,1232,22.6
8,6075010300,1,60750103002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,nan,nan,nan,nan
9,6075010300,2,60750103002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,nan,nan,nan,nan
10,6075010400,4,60750104002011,4531.0,3092.0,1.0,0.0,1210.0,0.0,2952.0,1.83,2011,1939,2004,38.1,20.6
11,6075010400,3,60750104002012,4749.0,3061.0,1.0,0.0,1373.0,0.0,2889.0,1.94,2012,1939,2005,35.4,23.6
12,6075010400,4,60750104002013,5103.0,3097.0,1.0,0.0,1465.0,0.0,2875.0,1.98,2013,1939,2007,38.3,24.3
13,6075010400,4,60750104002015,5148.0,3133.0,0.0,0.0,1429.0,0.0,2805.0,2.01,2015,1939,2008,1732,24.6
14,6075010400,5,60750104002016,5028.0,3111.0,0.0,5.0,1413.0,0.0,2844.0,2,2016,1939,2008,1611,24.8
15,6075010400,2,60750104002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,nan,nan,nan,nan
16,6075010400,4,60750104002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,nan,nan,nan,nan
17,6075010600,1,60750106002013,3607.0,1215.0,78.0,0.0,2002.0,0.0,2145.0,1.99,2013,1939,2004,27.6,34.9
18,6075010600,1,60750106002014,3664.0,1164.0,36.0,0.0,2223.0,0.0,2116.0,1.99,2014,1939,2005,6.2,33.9
19,6075010600,3,60750106002015,3604.0,1244.0,64.0,0.0,2113.0,0.0,2098.0,1.93,2015,1939,2008,844,27.8
20,6075010600,1,60750106002016,3567.0,1260.0,58.0,0.0,2150.0,0.0,2097.0,1.97,2016,1939,2010,819,27.5
21,6075010600,1,60750106002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,nan,nan,nan,nan
22,6075010700,1,60750107002012,5555.0,991.0,162.0,10.0,4290.0,0.0,2927.0,2.08,2012,1939,2003,20.3,32.7
23,6075010700,1,60750107002015,5302.0,1246.0,0.0,0.0,3998.0,0.0,2750.0,2.19,2015,1939,2007,905,33.7
24,6075010800,1,60750108002011,4819.0,2322.0,70.0,17.0,2260.0,0.0,2800.0,1.96,2011,1939,2003,44.4,22.4
25,6075010800,1,60750108002012,4811.0,2270.0,74.0,23.0,2354.0,0.0,2785.0,1.95,2012,1939,2002,42.2,24.9
26,6075010800,1,60750108002013,4925.0,2348.0,15.0,9.0,2379.0,0.0,2786.0,1.96,2013,1939,2004,51.1,26.3
27,6075010800,3,60750108002014,4779.0,2239.0,0.0,9.0,2286.0,0.0,2755.0,1.95,2014,1939,2005,6.2,22.6
28,6075010800,4,60750108002015,5065.0,2337.0,0.0,11.0,2423.0,0.0,2787.0,2.01,2015,1939,2005,1960,22.4
29,6075010800,5,60750108002016,4514.0,2210.0,0.0,0.0,2004.0,0.0,2743.0,1.86,2016,1939,2004,1590,21.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,6075047802,3,60750478022017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,nan,nan,nan,nan
803,6075047802,2,60750478022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,nan,nan,nan,nan
804,6075047901,1,60750479012011,6525.0,2888.0,275.0,45.0,2829.0,43.0,2784.0,2.49,2011,1943,2005,31.4,28.1
805,6075047901,2,60750479012012,6775.0,3302.0,96.0,47.0,2771.0,22.0,2802.0,2.51,2012,1943,2005,32.4,27.9
806,6075047901,3,60750479012013,6445.0,3182.0,150.0,35.0,2407.0,14.0,2770.0,2.48,2013,1944,2005,32.2,29.5
807,6075047901,2,60750479012014,6571.0,3490.0,159.0,0.0,2461.0,21.0,2789.0,2.47,2014,1944,2006,5.2,30.6
808,6075047901,4,60750479012015,6865.0,3303.0,190.0,0.0,2868.0,0.0,2796.0,2.56,2015,1943,2007,1694,33.2
809,6075047901,5,60750479012016,6860.0,3282.0,184.0,0.0,2961.0,0.0,2819.0,2.52,2016,1943,2008,1710,32.8
810,6075047901,7,60750479012017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,nan,nan,nan,nan
811,6075047901,2,60750479012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,nan,nan,nan,nan
812,6075047902,1,60750479022012,3813.0,1911.0,30.0,0.0,1490.0,0.0,1649.0,2.44,2012,1940,2005,35.3,29.8
813,6075047902,1,60750479022013,3645.0,1869.0,27.0,0.0,1425.0,0.0,1669.0,2.31,2013,1940,2006,34.1,31.8
814,6075047902,1,60750479022015,3722.0,1784.0,44.0,0.0,1487.0,0.0,1634.0,2.5,2015,1939,2007,982,32.8
815,6075047902,1,60750479022016,3701.0,1772.0,39.0,0.0,1414.0,0.0,1643.0,2.45,2016,1939,2009,952,32.4
816,6075047902,1,60750479022017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,nan,nan,nan,nan
817,6075060700,1,60750607002011,7092.0,3264.0,169.0,0.0,3084.0,0.0,3913.0,1.95,2011,2005,2005,37.1,26.3
818,6075061000,1,60750610002015,4587.0,859.0,419.0,19.0,2226.0,34.0,1618.0,2.96,2015,2000,2011,988,27.3
819,6075061000,3,60750610002016,4730.0,843.0,711.0,12.0,2444.0,0.0,1629.0,2.96,2016,1999,2012,1066,29
820,6075061100,1,60750611002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,nan,nan,nan,nan
821,6075061200,1,60750612002011,3807.0,1191.0,926.0,0.0,950.0,0.0,1223.0,3.39,2011,1942,2004,11.2,35
822,6075061200,2,60750612002012,3713.0,858.0,907.0,61.0,894.0,0.0,1195.0,3.46,2012,1941,2004,9.6,43.9
823,6075061200,1,60750612002015,4296.0,792.0,880.0,70.0,1100.0,8.0,1242.0,3.59,2015,1948,2007,425,34.8
824,6075061400,1,60750614002011,5343.0,2943.0,1106.0,199.0,577.0,141.0,2610.0,2.23,2011,1947,2005,32.8,25.1
825,6075061400,1,60750614002012,5301.0,3448.0,350.0,296.0,623.0,174.0,2600.0,2.27,2012,1948,2005,33,23.9
826,6075061400,3,60750614002013,5488.0,3566.0,425.0,321.0,522.0,195.0,2653.0,2.29,2013,1945,2007,34,22.5
827,6075061400,8,60750614002014,5625.0,3862.0,290.0,0.0,846.0,136.0,2662.0,2.31,2014,1945,2010,6.5,21
828,6075061400,3,60750614002015,6140.0,3679.0,469.0,13.0,954.0,70.0,2644.0,2.45,2015,1939,2011,1511,19.3
829,6075061400,3,60750614002016,6035.0,3263.0,566.0,15.0,932.0,65.0,2625.0,2.43,2016,1939,2012,1545,19.5
830,6075061500,1,60750615002015,12511.0,7293.0,154.0,31.0,4267.0,0.0,8825.0,1.68,2015,2001,2011,4264,24.2
831,6075061500,1,60750615002016,13057.0,7187.0,162.0,33.0,4797.0,4.0,9224.0,1.71,2016,2001,2012,4483,23.2

In [285]:
empty = renamed_clean["Median Year Structure Built"] == ''
renamed_clean["Median Year Structure Built"][empty] = 'nan'
renamed_clean["Median Year Structure Built"] = renamed_clean["Median Year Structure Built"].astype(float)
renamed_clean["Median Year Structure Built"].dtype

dtype('float64')

In [288]:
empty = renamed_clean["Median Year Moved In"] == ''
renamed_clean["Median Year Moved In"][empty] = 'nan'
renamed_clean["Median Year Moved In"] = renamed_clean["Median Year Moved In"].astype(float)
renamed_clean["Median Year Moved In"].dtype

/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

dtype('float64')

In [294]:
renamed_clean = clean_data1.rename({"Estimate; Total:": "Total Population", 
                                   "Estimate; Total": "Total Housing Units", "Eviction ID": "num Evictions"}, axis=1)
renamed_clean["Percent with Bachelor\'s degree"] = renamed_clean["Percent with Bachelor\'s degree"].astype(float)
renamed_clean["Total; Estimate; Average household size"] = renamed_clean["Total; Estimate; Average household size"].astype(float)
#renamed_clean["Estimate; Median gross rent as a percentage of household income"] = renamed_clean["Estimate; Median gross rent as a percentage of household income"].astype(float)

# renamed_clean["Median Year Structure Built"] = renamed_clean["Median Year Structure Built"].astype(float)
empty_mysb = renamed_clean["Median Year Structure Built"] == ''
renamed_clean["Median Year Structure Built"][empty_mysb] = 'nan'
renamed_clean["Median Year Structure Built"] = renamed_clean["Median Year Structure Built"].astype(float)


# renamed_clean["Median Year Moved In"] = renamed_clean["Median Year Moved In"].astype(float)
empty_mymi = renamed_clean["Median Year Moved In"] == ''
renamed_clean["Median Year Moved In"][empty_mymi] = 'nan'
renamed_clean["Median Year Moved In"] = renamed_clean["Median Year Moved In"].astype(float)

empty_mrb = renamed_clean["Median rent burden"] == ''
renamed_clean["Median rent burden"][empty_mrb] = 'nan'
renamed_clean["Median rent burden"] = renamed_clean["Median rent burden"].astype(float)

renamed_clean = renamed_clean.drop(["Estimate; Median year householder moved into unit -- - Renter occupied", "Estimate; Median year structure built"], axis=1)
renamed_clean["Evictions per units"] = renamed_clean["num Evictions"]/renamed_clean["Total Housing Units"]
renamed_clean.dtypes

renamed_clean = renamed_clean.drop(["Estimate; Median gross rent as a percentage of household income", "Total; Estimate; Bachelor's degree"], axis=1)
renamed_clean.dtypes

/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Geoid                                                                   object
num Evictions                                                            int64
geoid_year                                                              object
Total Population                                                       float64
Estimate; Total: - White alone                                         float64
Estimate; Total: - Black or African American alone                     float64
Estimate; Total: - American Indian and Alaska Native alone             float64
Estimate; Total: - Asian alone                                         float64
Estimate; Total: - Native Hawaiian and Other Pacific Islander alone    float64
Total Housing Units                                                    float64
Total; Estimate; Average household size                                float64
Year                                                                     int64
Median Year Structure Built                                            float64
Median Year Moved In                                                   float64
Percent with Bachelor's degree                                         float64
Median rent burden                                                     float64
Evictions per units                                                    float64
dtype: object

In [299]:
#this isn't working yet because not all the datatypes are numeric
filled_means = renamed_clean.apply(lambda x: x.fillna(x.mean()),axis=0)
filled_means["Percent Black"] = filled_means["Estimate; Total: - Black or African American alone"]/ filled_means["Total Population"]
filled_means["Percent White"] = filled_means["Estimate; Total: - White alone"]/ filled_means["Total Population"]
filled_means["Percent Asian"] = filled_means["Estimate; Total: - Asian alone"]/ filled_means["Total Population"]
filled_means["Percent Native"] = filled_means["Estimate; Total: - American Indian and Alaska Native alone"]/ filled_means["Total Population"]
filled_means["Percent H, PI"] = filled_means["Estimate; Total: - Native Hawaiian and Other Pacific Islander alone"]/ filled_means["Total Population"]
filled_means = filled_means.drop(["Estimate; Total: - Black or African American alone", "Estimate; Total: - White alone",
                  "Estimate; Total: - Asian alone", "Estimate; Total: - American Indian and Alaska Native alone",
                  "Estimate; Total: - Native Hawaiian and Other Pacific Islander alone"], axis=1)
filled_means.head()

,Geoid,num Evictions,geoid_year,Total Population,Total Housing Units,Total; Estimate; Average household size,Year,Median Year Structure Built,Median Year Moved In,Percent with Bachelor's degree,Median rent burden,Evictions per units,Percent Black,Percent White,Percent Asian,Percent Native,"Percent H, PI"
0,6075010100,2,60750101002011,3851.0000,2278.0000,1.750000,2011,1971.000000,2005.000000,34.00000,28.40000,0.000878,0.089847,0.437808,0.391327,0.002856,0.000000
1,6075010200,1,60750102002012,4040.0000,2946.0000,1.510000,2012,1939.000000,2005.000000,42.10000,22.50000,0.000339,0.011139,0.824257,0.087624,0.000000,0.000000
2,6075010200,1,60750102002017,4668.5488,2044.1584,2.504992,2017,1944.264423,2006.528939,508.85824,28.24032,0.001267,0.043886,0.514993,0.335039,0.003474,0.003172
3,6075010300,2,60750103002012,4393.0000,2254.0000,2.260000,2012,1939.000000,2005.000000,31.10000,24.30000,0.000887,0.000000,0.648532,0.351468,0.000000,0.000000
4,6075010300,2,60750103002013,4729.0000,2303.0000,2.290000,2013,1939.000000,2007.000000,31.30000,26.10000,0.000868,0.000000,0.577289,0.401988,0.000000,0.000000

In [300]:
filled_means.to_csv("data/clean_demographic_data.csv") #work with this for now

In [349]:
features_withdemog_stops = pd.read_csv("data/features_with_stops.csv")
shuttles = pd.read_csv("data/shuttles_geocodedbytract.csv")
# shuttles.head()
shuttles_grouped_by_tract = shuttles.groupby("Geoid").count().reset_index().drop(["Unnamed: 0", "from_st", "to_st", "Latitude", "Longitude"], axis=1)

feat_demog_stops_shuttles = features_withdemog_stops.merge(shuttles_grouped_by_tract, how='left', left_on='Geoid', right_on='Geoid')
foo = feat_demog_stops_shuttles.fillna(0).drop(["Unnamed: 0", "Unnamed: 0.1","Unnamed: 0.1.1"], axis=1)
foo.to_csv('data/features_with_shuttles.csv')