In [2]:
import pandas as pd
import geopandas as gp
import numpy as np
import censusgeocode as cg
import time
import os

In [3]:
data_path = '/Users/ameliabaum/Desktop/Amelia/Berkeley 2018-2019/EnRes C190/evictionmodel_190final/data/'
#table B02001 race
#race_feature = {}
race_feature = []
for race_file in os.listdir(data_path+'B02001_race'):
    year = '20'+race_file.split("_")[1]
    #if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
    if year in ['2017']:

        df = pd.read_csv(data_path+'B02001_race/'+race_file)
        df["Year"] = year    
        race_feature.append(df)
allyears_race = pd.concat(race_feature, axis=0, sort=False)
allyears_race["geoid_year"] = allyears_race['Id2'].astype(str) + allyears_race["Year"].astype(str)


#table B25071 rent burden
burden_feature = []
for burden_file in os.listdir(data_path+'B25071_burden'):
    year = '20'+burden_file.split("_")[1]
    #if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
    if year in ['2017']:
        df = pd.read_csv(data_path+'B25071_burden/'+burden_file)
        df["Year"] = year
        
        burden_feature.append(df)
allyears_burden = pd.concat(burden_feature, axis=0, sort=False)
allyears_burden["geoid_year"] = allyears_burden['Id2'].astype(str) + allyears_burden["Year"].astype(str)        


#table S1101 household size
hsize_feature = []
for size_file in os.listdir(data_path+'S1101_size'):
    year = '20'+size_file.split("_")[1]
   #if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
    if year in ['2017']:
        df = pd.read_csv(data_path+'S1101_size/'+size_file)
        df["Year"] = year
        
        hsize_feature.append(df)
allyears_hsize = pd.concat(hsize_feature, axis=0, sort=False)
allyears_hsize["geoid_year"] = allyears_hsize['Id2'].astype(str) + allyears_hsize["Year"].astype(str)

#table S1501 % with bachelors degree
edu_feature = []
for edu_file in os.listdir(data_path+'S1501_edu'):
    year = '20'+edu_file.split("_")[1]
    #if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
    if year in ['2017']:
        df = pd.read_csv(data_path+'S1501_edu/'+edu_file)
        df["Year"] = year
        
        edu_feature.append(df)
allyears_edu = pd.concat(edu_feature, axis=0, sort=False)
allyears_edu["geoid_year"] = allyears_edu['Id2'].astype(str) + allyears_edu["Year"].astype(str)
# allyears_built = allyears_built.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", 'Estimate; Median year structure built': "Median year structure built", 
#         "Year": "Year", "geoid_year": "geoid_year"})


#table B25035 median year built
built_feature = []
for built_file in os.listdir(data_path+'B25035_yearbuilt'):
    year = '20'+built_file.split("_")[1]
    #if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
    if year in ['2017']:
        df = pd.read_csv(data_path+'B25035_yearbuilt/'+built_file)
        df["Year"] = year
        built_feature.append(df)
allyears_built = pd.concat(built_feature, axis=0, sort=False)
allyears_built["geoid_year"] = allyears_built['Id2'].astype(str) + allyears_built["Year"].astype(str)
# allyears_built = allyears_built.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", 'Estimate; Median year structure built': "Median year structure built", 
#         "Year": "Year", "geoid_year": "geoid_year"})



#table B25039 median renter moved in
moved_feature = []
for moved_file in os.listdir(data_path+'B25039_moved'):
    year = '20'+ moved_file.split("_")[1]
    #if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
    if year in ['2017']:
        df = pd.read_csv(data_path+'B25039_moved/'+moved_file)
        df["Year"] = year
        moved_feature.append(df)
        print(df.columns)
allyears_moved = pd.concat(moved_feature, axis=0, sort=False)
allyears_moved["geoid_year"] = allyears_moved['Id2'].astype(str) + allyears_moved["Year"].astype(str)
allyears_moved_rename = allyears_moved.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", 
'Estimate; Renter occupied': "Median Year Renter Moved Into Unit", 
'Estimate; Median year householder moved into unit -- - Renter occupied':"Median Year Renter Moved Into Unit"})
#.drop("drop this", axis=1)


#table B25001 housing units in tract
units_feature = []
for units_file in os.listdir(data_path+'B25001_units'):
    year = '20'+units_file.split("_")[1]
    #if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
    if year in ['2017']:
        df = pd.read_csv(data_path+'B25001_units/'+units_file)
        df["Year"] = year
        
        units_feature.append(df)
allyears_units = pd.concat(units_feature, axis=0, sort=False)
allyears_units["geoid_year"] = allyears_units['Id2'].astype(str) + allyears_units["Year"].astype(str)
allyears_units.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", "Estimate; Total": "Housing Units", 
                       "Year": "Year", "geoid_year": "geoid_year"}).head()

Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')

,Geoid,Census Tract,Housing Units,Year,geoid_year
0,6075010100,"Census Tract 101, San Francisco County, Califo...",2303,2017,60750101002017
1,6075010200,"Census Tract 102, San Francisco County, Califo...",3056,2017,60750102002017
2,6075010300,"Census Tract 103, San Francisco County, Califo...",2379,2017,60750103002017
3,6075010400,"Census Tract 104, San Francisco County, Califo...",2883,2017,60750104002017
4,6075010500,"Census Tract 105, San Francisco County, Califo...",1976,2017,60750105002017

In [26]:
allyears_units

,Id2,Geography,Estimate; Total,Year,geoid_year
0,6075010100,"Census Tract 101, San Francisco County, Califo...",2303,2017,60750101002017
1,6075010200,"Census Tract 102, San Francisco County, Califo...",3056,2017,60750102002017
2,6075010300,"Census Tract 103, San Francisco County, Califo...",2379,2017,60750103002017
3,6075010400,"Census Tract 104, San Francisco County, Califo...",2883,2017,60750104002017
4,6075010500,"Census Tract 105, San Francisco County, Califo...",1976,2017,60750105002017
5,6075010600,"Census Tract 106, San Francisco County, Califo...",2154,2017,60750106002017
6,6075010700,"Census Tract 107, San Francisco County, Califo...",2754,2017,60750107002017
7,6075010800,"Census Tract 108, San Francisco County, Califo...",2759,2017,60750108002017
8,6075010900,"Census Tract 109, San Francisco County, Califo...",2882,2017,60750109002017
9,6075011000,"Census Tract 110, San Francisco County, Califo...",2871,2017,60750110002017
10,6075011100,"Census Tract 111, San Francisco County, Califo...",3370,2017,60750111002017
11,6075011200,"Census Tract 112, San Francisco County, Califo...",2348,2017,60750112002017
12,6075011300,"Census Tract 113, San Francisco County, Califo...",1676,2017,60750113002017
13,6075011700,"Census Tract 117, San Francisco County, Califo...",1350,2017,60750117002017
14,6075011800,"Census Tract 118, San Francisco County, Califo...",783,2017,60750118002017
15,6075011901,"Census Tract 119.01, San Francisco County, Cal...",1729,2017,60750119012017
16,6075011902,"Census Tract 119.02, San Francisco County, Cal...",1984,2017,60750119022017
17,6075012000,"Census Tract 120, San Francisco County, Califo...",2819,2017,60750120002017
18,6075012100,"Census Tract 121, San Francisco County, Califo...",2303,2017,60750121002017
19,6075012201,"Census Tract 122.01, San Francisco County, Cal...",3092,2017,60750122012017
20,6075012202,"Census Tract 122.02, San Francisco County, Cal...",1718,2017,60750122022017
21,6075012301,"Census Tract 123.01, San Francisco County, Cal...",1676,2017,60750123012017
22,6075012302,"Census Tract 123.02, San Francisco County, Cal...",2257,2017,60750123022017
23,6075012401,"Census Tract 124.01, San Francisco County, Cal...",3129,2017,60750124012017
24,6075012402,"Census Tract 124.02, San Francisco County, Cal...",2671,2017,60750124022017
25,6075012501,"Census Tract 125.01, San Francisco County, Cal...",2630,2017,60750125012017
26,6075012502,"Census Tract 125.02, San Francisco County, Cal...",2313,2017,60750125022017
27,6075012601,"Census Tract 126.01, San Francisco County, Cal...",1680,2017,60750126012017
28,6075012602,"Census Tract 126.02, San Francisco County, Cal...",1817,2017,60750126022017
29,6075012700,"Census Tract 127, San Francisco County, Califo...",2304,2017,60750127002017
...,...,...,...,...,...
167,6075040200,"Census Tract 402, San Francisco County, Califo...",2597,2017,60750402002017
168,6075042601,"Census Tract 426.01, San Francisco County, Cal...",1905,2017,60750426012017
169,6075042602,"Census Tract 426.02, San Francisco County, Cal...",1612,2017,60750426022017
170,6075042700,"Census Tract 427, San Francisco County, Califo...",2687,2017,60750427002017
171,6075042800,"Census Tract 428, San Francisco County, Califo...",1045,2017,60750428002017
172,6075045100,"Census Tract 451, San Francisco County, Califo...",2272,2017,60750451002017
173,6075045200,"Census Tract 452, San Francisco County, Califo...",3018,2017,60750452002017
174,6075047600,"Census Tract 476, San Francisco County, Califo...",2429,2017,60750476002017
175,6075047701,"Census Tract 477.01, San Francisco County, Cal...",2068,2017,60750477012017
176,6075047702,"Census Tract 477.02, San Francisco County, Cal...",1705,2017,60750477022017
177,6075047801,"Census Tract 478.01, San Francisco County, Cal...",1791,2017,60750478012017
178,6075047802,"Census Tract 478.02, San Francisco County, Cal...",1625,2017,60750478022017
179,6075047901,"Census Tract 479.01, San Francisco County, Cal...",2858,2017,60750479012017
180,6075047902,"Census Tract 479.02, San Francisco County, Cal...",1635,2017,60750479022017
181,6075060100,"Census Tract 601, San Francisco County, Califo...",1352,2017,60750601002017
182,6075060400,"Census Tract 604, San Francisco County, Califo...",1084,2017,60750604002017
183,6075060502,"Census Tract 605.02, San Francisco County, Cal...",1072,2017,60750605022017
184,6075060700,"Census Tract 607, San Francisco County, Califo...",5895,2017,60750607002017
185,6075061000,"Census Tract 610, San Francisco County, Califo...",1686,2017,60750610002017
186,6075061100,"Census Tract 611, San Francisco County, Califo...",2284,2017,60750611002017
187,6075061200,"Census Tract 612, San Francisco County, Califo...",1277,2017,60750612002017
188,6075061400,"Census Tract 614, San Francisco County, Califo...",2653,2017,60750614002017
189,6075061500,"Census Tract 615, San Francisco County, Califo...",9705,2017,60750615002017
190,6075980200,"Census Tract 9802, San Francisco County, Calif...",71,2017,60759802002017
191,6075980300,"Census Tract 9803, San Francisco County, Calif...",66,2017,60759803002017
192,6075980401,"Census Tract 9804.01, San Francisco County, Ca...",0,2017,60759804012017
193,6075980501,"Census Tract 9805.01, San Francisco County, Ca...",301,2017,60759805012017
194,6075980600,"Census Tract 9806, San Francisco County, Calif...",249,2017,60759806002017
195,6075980900,"Census Tract 9809, San Francisco County, Calif...",178,2017,60759809002017
196,6075990100,"Census Tract 9901, San Francisco County, Calif...",0,2017,60759901002017

In [7]:
# allyears_burden
# allyears_hsize
# allyears_edu
#allyears_built
#allyears_moved
#allyears_units

In [27]:
#grouped_evictions = pd.read_csv('/Users/ameliabaum/Desktop/Amelia/Berkeley 2018-2019/EnRes C190/evictionmodel_190final/data/evictions_geocoded11_tractandyear.csv')
grouped_evictions = pd.read_csv('data/evictions_geocoded17_tractandyear.csv')
grouped_evictions["num evictions"] = grouped_evictions["Owner Move In"]
grouped_evictions["geoid_year"] = (grouped_evictions["Geoid"].astype(str) + grouped_evictions["Year"].astype(str))
grouped_evictions["geoid_year"] = grouped_evictions["geoid_year"].apply(lambda x: x[1:])
grouped_evictions = grouped_evictions[["Geoid", "Year", "geoid_year", "num evictions"]]
grouped_evictions.head()

         Geoid  Year      geoid_year  num evictions
0  06075010200  2017  60750102002017              1
1  06075010300  2017  60750103002017              1
2  06075010300  2018  60750103002018              2
3  06075010400  2017  60750104002017              2
4  06075010400  2018  60750104002018              4

In [28]:
race = grouped_evictions.merge(allyears_race, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu = race.merge(allyears_edu, how='left', left_on="geoid_year", right_on="geoid_year")
race_edu_units = race_edu.merge(allyears_units, how='left', left_on="geoid_year", right_on="geoid_year")
race_edu_units_built = race_edu_units.merge(allyears_built, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu_units_built_moved = race_edu_units_built.merge(allyears_moved, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu_units_built_moved_hsize = race_edu_units_built_moved.merge(allyears_hsize, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu_units_built_moved_burden = race_edu_units_built_moved_hsize.merge(allyears_burden, how='left', left_on="geoid_year", right_on="geoid_year")

In [29]:
race_edu_units_built_moved_burden.columns

Index(['Geoid', 'Year_x', 'geoid_year', 'num evictions', 'Id2_x',
       'Geography_x', 'Estimate; Total:', 'Estimate; Total: - White alone',
       'Estimate; Total: - Black or African American alone',
       'Estimate; Total: - American Indian and Alaska Native alone',
       'Estimate; Total: - Asian alone',
       'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone',
       'Year_y', 'Id2_y', 'Geography_y',
       'Percent; Estimate; Population 25 years and over - Bachelor's degree',
       'Year_x', 'Id2_x', 'Geography_x', 'Estimate; Total', 'Year_y', 'Id2_y',
       'Geography_y', 'Estimate; Median year structure built', 'Year_x',
       'Id2_x', 'Geography_x',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year_y', 'Id2_y', 'Geography_y',
       'Total; Estimate; Average household size', 'Year_x', 'Id2', 'Geography',
       'Estimate; Median gross rent as a percentage of household income',
       'Year_y'],
      dtype='object')

In [33]:
clean_data = race_edu_units_built_moved_burden[['Geoid','Year_x', 'num evictions', 'geoid_year', 'Estimate; Total:', 'Estimate; Total: - White alone',
       'Estimate; Total: - Black or African American alone',
       'Estimate; Total: - American Indian and Alaska Native alone',
       'Estimate; Total: - Asian alone',
    'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone', 
        'Percent; Estimate; Population 25 years and over - Bachelor\'s degree', 'Estimate; Total', 'Estimate; Median year structure built', 
        'Total; Estimate; Average household size', 'Estimate; Median gross rent as a percentage of household income']]
clean_data["Year"] = clean_data['Year_x'].iloc[:,0]
clean_data1 = clean_data.drop("Year_x", axis=1)

/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [34]:
clean_data1 = clean_data1[clean_data1["Geoid"] != "Nan"] #this drops the last 4 rows which is correcct
clean_data1

,Geoid,num evictions,geoid_year,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Median year householder moved into unit -- - Renter occupied,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Percent; Estimate; Population 25 years and over - Bachelor's degree,Estimate; Total,Estimate; Median year structure built,Total; Estimate; Average household size,Estimate; Median gross rent as a percentage of household income,Year
0,06075010200,1,60750102002017,4363.0,3677.0,34.0,0.0,488.0,2011,9.0,44.3,3056.0,1939-,1.74,23.3,2017
1,06075010300,1,60750103002017,4377.0,2708.0,0.0,0.0,1445.0,2010,0.0,38.1,2379.0,1939-,2.16,21,2017
2,06075010300,2,60750103002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
3,06075010400,2,60750104002017,4645.0,2772.0,1.0,4.0,1320.0,2008,0.0,37.4,2883.0,1939-,1.91,23.3,2017
4,06075010400,4,60750104002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
5,06075010600,1,60750106002017,3505.0,1210.0,57.0,0.0,2161.0,2011,0.0,27.7,2154.0,1939-,1.92,27.5,2017
6,06075010800,1,60750108002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
7,06075010900,1,60750109002017,4519.0,3166.0,69.0,0.0,1135.0,2010,0.0,42.4,2882.0,1939-,1.69,19.6,2017
8,06075011100,1,60750111002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
9,06075011200,1,60750112002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
10,06075012602,1,60750126022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
11,06075012700,2,60750127002017,3637.0,3016.0,92.0,0.0,319.0,2011,23.0,49.1,2304.0,1939-,1.74,24.7,2017
12,06075012800,1,60750128002017,4738.0,4100.0,80.0,1.0,375.0,2012,0.0,46.9,2569.0,1939-,2.03,18.6,2017
13,06075012800,1,60750128002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
14,06075012901,1,60750129012017,2754.0,2297.0,0.0,27.0,282.0,2010,0.0,55.3,1694.0,1939-,1.77,18.5,2017
15,06075012901,2,60750129012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
16,06075012902,2,60750129022017,3628.0,2878.0,100.0,12.0,437.0,2011,0.0,51.4,2244.0,1939-,1.75,23.7,2017
17,06075012902,1,60750129022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
18,06075013000,1,60750130002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
19,06075013200,2,60750132002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
20,06075013300,1,60750133002017,4626.0,3452.0,98.0,0.0,684.0,2009,14.0,40.6,2101.0,1939-,2.22,23.2,2017
21,06075013400,1,60750134002017,4031.0,3001.0,59.0,0.0,704.0,2012,16.0,40.9,2191.0,1939-,2,22,2017
22,06075013500,2,60750135002017,2617.0,1777.0,71.0,10.0,633.0,2011,0.0,40,1887.0,1939-,1.62,19.8,2017
23,06075015300,1,60750153002017,2210.0,1492.0,171.0,0.0,393.0,2011,16.0,38.8,1041.0,1939-,2.13,24.9,2017
24,06075015400,2,60750154002017,5877.0,3907.0,99.0,1.0,1393.0,2011,111.0,39.4,3179.0,1939-,2,23.4,2017
25,06075015400,1,60750154002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
26,06075015600,1,60750156002017,3236.0,1801.0,68.0,0.0,1122.0,2012,0.0,40.6,1576.0,1950,2.23,24.6,2017
27,06075015600,2,60750156002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
28,06075015700,3,60750157002017,9377.0,5408.0,355.0,0.0,2305.0,2012,98.0,44.2,2844.0,1947,2.26,24.1,2017
29,06075015700,1,60750157002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,06075035300,3,60750353002017,7510.0,2164.0,72.0,13.0,4697.0,2009,19.0,27.3,2625.0,1948,2.85,45.2,2017
178,06075035300,3,60750353002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
179,06075035400,2,60750354002017,7075.0,2461.0,129.0,0.0,3552.0,2002,0.0,30.2,2612.0,1946,2.8,25.4,2017
180,06075035400,2,60750354002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
181,06075040100,10,60750401002017,4670.0,2695.0,58.0,0.0,1740.0,2011,18.0,37.1,2025.0,1939-,2.38,24.2,2017
182,06075040100,2,60750401002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
183,06075040200,2,60750402002017,5633.0,3220.0,12.0,0.0,1884.0,2010,0.0,38.8,2597.0,1939-,2.37,27.7,2017
184,06075040200,3,60750402002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
185,06075042601,3,60750426012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
186,06075042602,2,60750426022017,3157.0,1818.0,29.0,0.0,1029.0,2010,0.0,36.7,1612.0,1939-,2.2,21.8,2017
187,06075042700,1,60750427002017,5397.0,2157.0,274.0,0.0,2608.0,2010,29.0,28.7,2687.0,1949,2.12,29,2017
188,06075042700,2,60750427002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
189,06075042800,1,60750428002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
190,06075045100,1,60750451002017,5139.0,2732.0,106.0,7.0,1902.0,2011,0.0,38.7,2272.0,1939-,2.42,24.4,2017
191,06075045200,2,60750452002017,7113.0,3397.0,264.0,0.0,2728.0,2010,0.0,39.5,3018.0,1939-,2.35,28.1,2017
192,06075045200,2,60750452002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
193,06075047600,6,60750476002017,5660.0,2431.0,72.0,1.0,2756.0,2009,60.0,35.5,2429.0,1939-,2.47,27.7,2017
194,06075047600,5,60750476002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
195,06075047701,1,60750477012017,4342.0,1865.0,0.0,0.0,2012.0,2004,75.0,35.8,2068.0,1939-,2.23,27.4,2017
196,06075047701,1,60750477012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
197,06075047702,4,60750477022017,4054.0,1823.0,21.0,0.0,1980.0,2007,0.0,34.7,1705.0,1939-,2.63,27,2017
198,06075047702,2,60750477022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
199,06075047801,3,60750478012017,4134.0,1738.0,46.0,10.0,2009.0,2010,0.0,37.6,1791.0,1939-,2.46,26.1,2017
200,06075047801,1,60750478012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
201,06075047802,3,60750478022017,3892.0,1361.0,12.0,34.0,2185.0,2010,11.0,33.3,1625.0,1942,2.67,28.8,2017
202,06075047802,2,60750478022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
203,06075047901,7,60750479012017,7113.0,3129.0,166.0,0.0,3405.0,2008,0.0,32.7,2858.0,1945,2.64,29.4,2017
204,06075047901,2,60750479012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
205,06075047902,1,60750479022017,3858.0,1737.0,21.0,0.0,1550.0,2010,0.0,29.6,1635.0,1939-,2.49,31.7,2017
206,06075061100,1,60750611002017,4572.0,271.0,37.0,19.0,4178.0,2007,53.0,7.8,2284.0,1939-,2.17,33,2017

In [41]:
clean_data1["Median Year Structure Built"] = clean_data1["Estimate; Median year structure built"].astype(str).apply(lambda x: x.replace("+", "").replace("-", ""))
clean_data1["Median Year Moved In"] = clean_data1["Estimate; Median year householder moved into unit -- - Renter occupied"].astype(str).apply(lambda x: x.replace("+", "").replace("-", ""))
clean_data1["Percent with Bachelor's degree"] = clean_data1['Percent; Estimate; Population 25 years and over - Bachelor\'s degree'].astype(str).apply(lambda x: x.replace("+", "").replace("-", ""))
clean_data1["Median rent burden"] = clean_data1["Estimate; Median gross rent as a percentage of household income"].astype(str).apply(lambda x: x.replace("+", "").replace("-", ""))

renamed_clean = clean_data1.drop(["Estimate; Median year structure built", "Estimate; Median year householder moved into unit -- - Renter occupied", 'Percent; Estimate; Population 25 years and over - Bachelor\'s degree', "Estimate; Median gross rent as a percentage of household income"], axis=1)

In [46]:
renamed_clean

,Geoid,num evictions,geoid_year,Total Population,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Percent; Estimate; Population 25 years and over - Bachelor's degree,Total Housing Units,Total; Estimate; Average household size,Estimate; Median gross rent as a percentage of household income,Year,Median Year Structure Built,Median Year Moved In,Percent with Bachelor's degree,Median rent burden,Evictions per units
0,06075010200,1,60750102002017,4363.0,3677.0,34.0,0.0,488.0,9.0,44.3,3056.0,1.74,23.3,2017,1939.0,2011.0,44.3,23.3,0.000327
1,06075010300,1,60750103002017,4377.0,2708.0,0.0,0.0,1445.0,0.0,38.1,2379.0,2.16,21,2017,1939.0,2010.0,38.1,21.0,0.000420
2,06075010300,2,60750103002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
3,06075010400,2,60750104002017,4645.0,2772.0,1.0,4.0,1320.0,0.0,37.4,2883.0,1.91,23.3,2017,1939.0,2008.0,37.4,23.3,0.000694
4,06075010400,4,60750104002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
5,06075010600,1,60750106002017,3505.0,1210.0,57.0,0.0,2161.0,0.0,27.7,2154.0,1.92,27.5,2017,1939.0,2011.0,27.7,27.5,0.000464
6,06075010800,1,60750108002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
7,06075010900,1,60750109002017,4519.0,3166.0,69.0,0.0,1135.0,0.0,42.4,2882.0,1.69,19.6,2017,1939.0,2010.0,42.4,19.6,0.000347
8,06075011100,1,60750111002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
9,06075011200,1,60750112002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
10,06075012602,1,60750126022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
11,06075012700,2,60750127002017,3637.0,3016.0,92.0,0.0,319.0,23.0,49.1,2304.0,1.74,24.7,2017,1939.0,2011.0,49.1,24.7,0.000868
12,06075012800,1,60750128002017,4738.0,4100.0,80.0,1.0,375.0,0.0,46.9,2569.0,2.03,18.6,2017,1939.0,2012.0,46.9,18.6,0.000389
13,06075012800,1,60750128002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
14,06075012901,1,60750129012017,2754.0,2297.0,0.0,27.0,282.0,0.0,55.3,1694.0,1.77,18.5,2017,1939.0,2010.0,55.3,18.5,0.000590
15,06075012901,2,60750129012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
16,06075012902,2,60750129022017,3628.0,2878.0,100.0,12.0,437.0,0.0,51.4,2244.0,1.75,23.7,2017,1939.0,2011.0,51.4,23.7,0.000891
17,06075012902,1,60750129022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
18,06075013000,1,60750130002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
19,06075013200,2,60750132002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
20,06075013300,1,60750133002017,4626.0,3452.0,98.0,0.0,684.0,14.0,40.6,2101.0,2.22,23.2,2017,1939.0,2009.0,40.6,23.2,0.000476
21,06075013400,1,60750134002017,4031.0,3001.0,59.0,0.0,704.0,16.0,40.9,2191.0,2.00,22,2017,1939.0,2012.0,40.9,22.0,0.000456
22,06075013500,2,60750135002017,2617.0,1777.0,71.0,10.0,633.0,0.0,40,1887.0,1.62,19.8,2017,1939.0,2011.0,40.0,19.8,0.001060
23,06075015300,1,60750153002017,2210.0,1492.0,171.0,0.0,393.0,16.0,38.8,1041.0,2.13,24.9,2017,1939.0,2011.0,38.8,24.9,0.000961
24,06075015400,2,60750154002017,5877.0,3907.0,99.0,1.0,1393.0,111.0,39.4,3179.0,2.00,23.4,2017,1939.0,2011.0,39.4,23.4,0.000629
25,06075015400,1,60750154002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
26,06075015600,1,60750156002017,3236.0,1801.0,68.0,0.0,1122.0,0.0,40.6,1576.0,2.23,24.6,2017,1950.0,2012.0,40.6,24.6,0.000635
27,06075015600,2,60750156002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
28,06075015700,3,60750157002017,9377.0,5408.0,355.0,0.0,2305.0,98.0,44.2,2844.0,2.26,24.1,2017,1947.0,2012.0,44.2,24.1,0.001055
29,06075015700,1,60750157002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,06075035300,3,60750353002017,7510.0,2164.0,72.0,13.0,4697.0,19.0,27.3,2625.0,2.85,45.2,2017,1948.0,2009.0,27.3,45.2,0.001143
178,06075035300,3,60750353002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
179,06075035400,2,60750354002017,7075.0,2461.0,129.0,0.0,3552.0,0.0,30.2,2612.0,2.80,25.4,2017,1946.0,2002.0,30.2,25.4,0.000766
180,06075035400,2,60750354002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
181,06075040100,10,60750401002017,4670.0,2695.0,58.0,0.0,1740.0,18.0,37.1,2025.0,2.38,24.2,2017,1939.0,2011.0,37.1,24.2,0.004938
182,06075040100,2,60750401002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
183,06075040200,2,60750402002017,5633.0,3220.0,12.0,0.0,1884.0,0.0,38.8,2597.0,2.37,27.7,2017,1939.0,2010.0,38.8,27.7,0.000770
184,06075040200,3,60750402002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
185,06075042601,3,60750426012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
186,06075042602,2,60750426022017,3157.0,1818.0,29.0,0.0,1029.0,0.0,36.7,1612.0,2.20,21.8,2017,1939.0,2010.0,36.7,21.8,0.001241
187,06075042700,1,60750427002017,5397.0,2157.0,274.0,0.0,2608.0,29.0,28.7,2687.0,2.12,29,2017,1949.0,2010.0,28.7,29.0,0.000372
188,06075042700,2,60750427002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
189,06075042800,1,60750428002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
190,06075045100,1,60750451002017,5139.0,2732.0,106.0,7.0,1902.0,0.0,38.7,2272.0,2.42,24.4,2017,1939.0,2011.0,38.7,24.4,0.000440
191,06075045200,2,60750452002017,7113.0,3397.0,264.0,0.0,2728.0,0.0,39.5,3018.0,2.35,28.1,2017,1939.0,2010.0,39.5,28.1,0.000663
192,06075045200,2,60750452002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
193,06075047600,6,60750476002017,5660.0,2431.0,72.0,1.0,2756.0,60.0,35.5,2429.0,2.47,27.7,2017,1939.0,2009.0,35.5,27.7,0.002470
194,06075047600,5,60750476002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
195,06075047701,1,60750477012017,4342.0,1865.0,0.0,0.0,2012.0,75.0,35.8,2068.0,2.23,27.4,2017,1939.0,2004.0,35.8,27.4,0.000484
196,06075047701,1,60750477012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
197,06075047702,4,60750477022017,4054.0,1823.0,21.0,0.0,1980.0,0.0,34.7,1705.0,2.63,27,2017,1939.0,2007.0,34.7,27.0,0.002346
198,06075047702,2,60750477022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
199,06075047801,3,60750478012017,4134.0,1738.0,46.0,10.0,2009.0,0.0,37.6,1791.0,2.46,26.1,2017,1939.0,2010.0,37.6,26.1,0.001675
200,06075047801,1,60750478012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
201,06075047802,3,60750478022017,3892.0,1361.0,12.0,34.0,2185.0,11.0,33.3,1625.0,2.67,28.8,2017,1942.0,2010.0,33.3,28.8,0.001846
202,06075047802,2,60750478022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
203,06075047901,7,60750479012017,7113.0,3129.0,166.0,0.0,3405.0,0.0,32.7,2858.0,2.64,29.4,2017,1945.0,2008.0,32.7,29.4,0.002449
204,06075047901,2,60750479012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN
205,06075047902,1,60750479022017,3858.0,1737.0,21.0,0.0,1550.0,0.0,29.6,1635.0,2.49,31.7,2017,1939.0,2010.0,29.6,31.7,0.000612
206,06075061100,1,60750611002017,4572.0,271.0,37.0,19.0,4178.0,53.0,7.8,2284.0,2.17,33,2017,1939.0,2007.0,7.8,33.0,0.000438

In [42]:
empty = renamed_clean["Median Year Structure Built"] == ''
renamed_clean["Median Year Structure Built"][empty] = 'nan'
renamed_clean["Median Year Structure Built"] = renamed_clean["Median Year Structure Built"].astype(float)
renamed_clean["Median Year Structure Built"].dtype

/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

dtype('float64')

In [43]:
empty = renamed_clean["Median Year Moved In"] == ''
renamed_clean["Median Year Moved In"][empty] = 'nan'
renamed_clean["Median Year Moved In"] = renamed_clean["Median Year Moved In"].astype(float)
renamed_clean["Median Year Moved In"].dtype

/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

dtype('float64')

In [52]:
renamed_clean = clean_data1.rename({"Estimate; Total:": "Total Population", 
                                   "Estimate; Total": "Total Housing Units"}, axis=1)
renamed_clean["Percent with Bachelor\'s degree"] = renamed_clean["Percent with Bachelor\'s degree"].astype(float)
renamed_clean["Total; Estimate; Average household size"] = renamed_clean["Total; Estimate; Average household size"].astype(float)

#renamed_clean["Estimate; Median gross rent as a percentage of household income"] = renamed_clean["Estimate; Median gross rent as a percentage of household income"].astype(float)

# renamed_clean["Median Year Structure Built"] = renamed_clean["Median Year Structure Built"].astype(float)
empty_mysb = renamed_clean["Median Year Structure Built"] == ''
renamed_clean["Median Year Structure Built"][empty_mysb] = 'nan'
renamed_clean["Median Year Structure Built"] = renamed_clean["Median Year Structure Built"].astype(float)


# renamed_clean["Median Year Moved In"] = renamed_clean["Median Year Moved In"].astype(float)
empty_mymi = renamed_clean["Median Year Moved In"] == ''
renamed_clean["Median Year Moved In"][empty_mymi] = 'nan'
renamed_clean["Median Year Moved In"] = renamed_clean["Median Year Moved In"].astype(float)

empty_mrb = renamed_clean["Median rent burden"] == ''
renamed_clean["Median rent burden"][empty_mrb] = 'nan'
renamed_clean["Median rent burden"] = renamed_clean["Median rent burden"].astype(float)

renamed_clean = renamed_clean.drop(["Estimate; Median year householder moved into unit -- - Renter occupied", "Estimate; Median year structure built"], axis=1)
renamed_clean["Evictions per units"] = renamed_clean["num evictions"]/renamed_clean["Total Housing Units"]
renamed_clean.dtypes

renamed_clean = renamed_clean.drop(["Estimate; Median gross rent as a percentage of household income", "Percent; Estimate; Population 25 years and over - Bachelor's degree"], axis=1)
renamed_clean.dtypes

/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/ameliabaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Geoid                                                                   object
num evictions                                                            int64
geoid_year                                                              object
Total Population                                                       float64
Estimate; Total: - White alone                                         float64
Estimate; Total: - Black or African American alone                     float64
Estimate; Total: - American Indian and Alaska Native alone             float64
Estimate; Total: - Asian alone                                         float64
Estimate; Total: - Native Hawaiian and Other Pacific Islander alone    float64
Total Housing Units                                                    float64
Total; Estimate; Average household size                                float64
Year                                                                     int64
Median Year Structure Built                                            float64
Median Year Moved In                                                   float64
Percent with Bachelor's degree                                         float64
Median rent burden                                                     float64
Evictions per units                                                    float64
dtype: object

In [53]:
#this isn't working yet because not all the datatypes are numeric
filled_means = renamed_clean.apply(lambda x: x.fillna(x.mean()),axis=0)
filled_means["Percent Black"] = filled_means["Estimate; Total: - Black or African American alone"]/ filled_means["Total Population"]
filled_means["Percent White"] = filled_means["Estimate; Total: - White alone"]/ filled_means["Total Population"]
filled_means["Percent Asian"] = filled_means["Estimate; Total: - Asian alone"]/ filled_means["Total Population"]
filled_means["Percent Native"] = filled_means["Estimate; Total: - American Indian and Alaska Native alone"]/ filled_means["Total Population"]
filled_means["Percent H, PI"] = filled_means["Estimate; Total: - Native Hawaiian and Other Pacific Islander alone"]/ filled_means["Total Population"]
filled_means = filled_means.drop(["Estimate; Total: - Black or African American alone", "Estimate; Total: - White alone",
                  "Estimate; Total: - Asian alone", "Estimate; Total: - American Indian and Alaska Native alone",
                  "Estimate; Total: - Native Hawaiian and Other Pacific Islander alone"], axis=1)
filled_means.head()

,Geoid,num evictions,geoid_year,Total Population,Total Housing Units,Total; Estimate; Average household size,Year,Median Year Structure Built,Median Year Moved In,Percent with Bachelor's degree,Median rent burden,Evictions per units,Percent Black,Percent White,Percent Asian,Percent Native,"Percent H, PI"
0,06075010200,1,60750102002017,4363.000000,3056.000000,1.74000,2017,1939.000000,2011.000000,44.300000,23.300000,0.000327,0.007793,0.842769,0.111850,0.000000,0.002063
1,06075010300,1,60750103002017,4377.000000,2379.000000,2.16000,2017,1939.000000,2010.000000,38.100000,21.000000,0.000420,0.000000,0.618689,0.330135,0.000000,0.000000
2,06075010300,2,60750103002018,4865.849558,2005.522124,2.64292,2018,1943.230088,2009.823009,32.619469,27.650442,0.001338,0.039850,0.461255,0.359640,0.003297,0.003623
3,06075010400,2,60750104002017,4645.000000,2883.000000,1.91000,2017,1939.000000,2008.000000,37.400000,23.300000,0.000694,0.000215,0.596771,0.284177,0.000861,0.000000
4,06075010400,4,60750104002018,4865.849558,2005.522124,2.64292,2018,1943.230088,2009.823009,32.619469,27.650442,0.001338,0.039850,0.461255,0.359640,0.003297,0.003623

In [54]:
#filled_means.to_csv("data/clean_demographic_data.csv") #work with this for now
filled_means.to_csv("data/clean_demographic_data17.csv") #work with this for now

In [61]:
features_withdemog_stops = pd.read_csv('data/features_with_stops.csv')
# features_withdemog_stops_test = pd.read_csv("data/test_17_features_with_stops.csv")
# features_withdemog_stops_test.head()

In [60]:
#features_withdemog_stops = pd.read_csv("data/test_17_features_with_stops.csv)
shuttles = pd.read_csv("data/shuttles_geocodedbytract.csv")
shuttles_grouped_by_tract = shuttles.groupby("Geoid").count().reset_index().drop(["Unnamed: 0", "from_st", "to_st", "Latitude", "Longitude"], axis=1)

feat_demog_stops_shuttles = features_withdemog_stops.merge(shuttles_grouped_by_tract, how='left', left_on='Geoid', right_on='Geoid')
foo = feat_demog_stops_shuttles.fillna(0).drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)
foo.to_csv('data/test_features_17_with_shuttles.csv', index=False)

In [62]:
shuttles = pd.read_csv("data/shuttles_geocodedbytract.csv")
shuttles_grouped_by_tract = shuttles.groupby("Geoid").count().reset_index().drop(["Unnamed: 0", "from_st", "to_st", "Latitude", "Longitude"], axis=1)

feat_demog_stops_shuttles = features_withdemog_stops.merge(shuttles_grouped_by_tract, how='left', left_on='Geoid', right_on='Geoid')
foo = feat_demog_stops_shuttles.fillna(0).drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)
foo.to_csv('data/features_with_shuttles.csv', index=False)