In [135]:
import pandas as pd
import geopandas as gp
import numpy as np
import censusgeocode as cg
import time
import os

In [136]:
data_path = '/Users/ameliabaum/Desktop/Amelia/Berkeley 2018-2019/EnRes C190/evictionmodel_190final/data/'
#table B02001 race
#race_feature = {}
race_feature = []
for race_file in os.listdir(data_path+'B02001_race'):
    year = '20'+race_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'B02001_race/'+race_file)
        df["Year"] = year    
        race_feature.append(df)
allyears_race = pd.concat(race_feature, axis=0, sort=False)
allyears_race["geoid_year"] = allyears_race['Id2'].astype(str) + allyears_race["Year"].astype(str)


#table B25071 rent burden
burden_feature = []
for burden_file in os.listdir(data_path+'B25071_burden'):
    year = '20'+burden_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'B25071_burden/'+burden_file)
        df["Year"] = year
        
        burden_feature.append(df)
allyears_burden = pd.concat(burden_feature, axis=0, sort=False)
allyears_burden["geoid_year"] = allyears_burden['Id2'].astype(str) + allyears_burden["Year"].astype(str)        


#table S1101 household size
hsize_feature = []
for size_file in os.listdir(data_path+'S1101_size'):
    year = '20'+size_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'S1101_size/'+size_file)
        df["Year"] = year
        
        hsize_feature.append(df)
allyears_hsize = pd.concat(hsize_feature, axis=0, sort=False)
allyears_hsize["geoid_year"] = allyears_hsize['Id2'].astype(str) + allyears_hsize["Year"].astype(str)

#table S1501 % with bachelors degree
edu_feature = []
for edu_file in os.listdir(data_path+'S1501_edu'):
    year = '20'+edu_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'S1501_edu/'+edu_file)
        df["Year"] = year
        
        edu_feature.append(df)
allyears_edu = pd.concat(edu_feature, axis=0, sort=False)
allyears_edu["geoid_year"] = allyears_edu['Id2'].astype(str) + allyears_edu["Year"].astype(str)
# allyears_built = allyears_built.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", 'Estimate; Median year structure built': "Median year structure built", 
#         "Year": "Year", "geoid_year": "geoid_year"})


#table B25035 median year built
built_feature = []
for built_file in os.listdir(data_path+'B25035_yearbuilt'):
    year = '20'+built_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'B25035_yearbuilt/'+built_file)
        df["Year"] = year
        built_feature.append(df)
allyears_built = pd.concat(built_feature, axis=0, sort=False)
allyears_built["geoid_year"] = allyears_built['Id2'].astype(str) + allyears_built["Year"].astype(str)
# allyears_built = allyears_built.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", 'Estimate; Median year structure built': "Median year structure built", 
#         "Year": "Year", "geoid_year": "geoid_year"})



#table B25039 median renter moved in
moved_feature = []
for moved_file in os.listdir(data_path+'B25039_moved'):
    year = '20'+ moved_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'B25039_moved/'+moved_file)
        df["Year"] = year
        moved_feature.append(df)
        print(df.columns)
allyears_moved = pd.concat(moved_feature, axis=0, sort=False)
allyears_moved["geoid_year"] = allyears_moved['Id2'].astype(str) + allyears_moved["Year"].astype(str)
allyears_moved_rename = allyears_moved.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", 
'Estimate; Renter occupied': "Median Year Renter Moved Into Unit", 
'Estimate; Median year householder moved into unit -- - Renter occupied':"Median Year Renter Moved Into Unit"})
#.drop("drop this", axis=1)


#table B25001 housing units in tract
units_feature = []
for units_file in os.listdir(data_path+'B25001_units'):
    year = '20'+units_file.split("_")[1]
    if year in ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']:
        df = pd.read_csv(data_path+'B25001_units/'+units_file)
        df["Year"] = year
        
        units_feature.append(df)
allyears_units = pd.concat(units_feature, axis=0, sort=False)
allyears_units["geoid_year"] = allyears_units['Id2'].astype(str) + allyears_units["Year"].astype(str)
allyears_units.rename(columns={"Id2":"Geoid", "Geography": "Census Tract", "Estimate; Total": "Housing Units", 
                       "Year": "Year", "geoid_year": "geoid_year"}).head()

Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')
Index(['Id2', 'Geography',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year'],
      dtype='object')

,Geoid,Census Tract,Housing Units,Year,geoid_year
0,6075010100,"Census Tract 101, San Francisco County, Califo...",2307,2015,60750101002015
1,6075010200,"Census Tract 102, San Francisco County, Califo...",3085,2015,60750102002015
2,6075010300,"Census Tract 103, San Francisco County, Califo...",2395,2015,60750103002015
3,6075010400,"Census Tract 104, San Francisco County, Califo...",2805,2015,60750104002015
4,6075010500,"Census Tract 105, San Francisco County, Califo...",1969,2015,60750105002015

In [139]:
allyears_burden
allyears_hsize
allyears_edu
allyears_built
allyears_moved
#allyears_units

,Id2,Geography,Estimate; Median year householder moved into unit -- - Renter occupied,Year,geoid_year
0,6075010100,"Census Tract 101, San Francisco County, Califo...",2004,2009,60750101002009
1,6075010200,"Census Tract 102, San Francisco County, Califo...",2003,2009,60750102002009
2,6075010300,"Census Tract 103, San Francisco County, Califo...",2003,2009,60750103002009
3,6075010400,"Census Tract 104, San Francisco County, Califo...",2003,2009,60750104002009
4,6075010500,"Census Tract 105, San Francisco County, Califo...",2004,2009,60750105002009
5,6075010600,"Census Tract 106, San Francisco County, Califo...",2002,2009,60750106002009
6,6075010700,"Census Tract 107, San Francisco County, Califo...",2001,2009,60750107002009
7,6075010800,"Census Tract 108, San Francisco County, Califo...",2002,2009,60750108002009
8,6075010900,"Census Tract 109, San Francisco County, Califo...",2003,2009,60750109002009
9,6075011000,"Census Tract 110, San Francisco County, Califo...",2002,2009,60750110002009
10,6075011100,"Census Tract 111, San Francisco County, Califo...",2002,2009,60750111002009
11,6075011200,"Census Tract 112, San Francisco County, Califo...",2001,2009,60750112002009
12,6075011300,"Census Tract 113, San Francisco County, Califo...",1996,2009,60750113002009
13,6075011400,"Census Tract 114, San Francisco County, Califo...",1995,2009,60750114002009
14,6075011500,"Census Tract 115, San Francisco County, Califo...",2005+,2009,60750115002009
15,6075011700,"Census Tract 117, San Francisco County, Califo...",2000,2009,60750117002009
16,6075011800,"Census Tract 118, San Francisco County, Califo...",1997,2009,60750118002009
17,6075011900,"Census Tract 119, San Francisco County, Califo...",2002,2009,60750119002009
18,6075012000,"Census Tract 120, San Francisco County, Califo...",2004,2009,60750120002009
19,6075012100,"Census Tract 121, San Francisco County, Califo...",2004,2009,60750121002009
20,6075012200,"Census Tract 122, San Francisco County, Califo...",2003,2009,60750122002009
21,6075012300,"Census Tract 123, San Francisco County, Califo...",2005+,2009,60750123002009
22,6075012400,"Census Tract 124, San Francisco County, Califo...",2002,2009,60750124002009
23,6075012500,"Census Tract 125, San Francisco County, Califo...",2004,2009,60750125002009
24,6075012600,"Census Tract 126, San Francisco County, Califo...",2004,2009,60750126002009
25,6075012700,"Census Tract 127, San Francisco County, Califo...",2005+,2009,60750127002009
26,6075012800,"Census Tract 128, San Francisco County, Califo...",2004,2009,60750128002009
27,6075012900,"Census Tract 129, San Francisco County, Califo...",2004,2009,60750129002009
28,6075013000,"Census Tract 130, San Francisco County, Califo...",2004,2009,60750130002009
29,6075013100,"Census Tract 131, San Francisco County, Califo...",2003,2009,60750131002009
...,...,...,...,...,...
167,6075040200,"Census Tract 402, San Francisco County, Califo...",2009,2016,60750402002016
168,6075042601,"Census Tract 426.01, San Francisco County, Cal...",2009,2016,60750426012016
169,6075042602,"Census Tract 426.02, San Francisco County, Cal...",2008,2016,60750426022016
170,6075042700,"Census Tract 427, San Francisco County, Califo...",2009,2016,60750427002016
171,6075042800,"Census Tract 428, San Francisco County, Califo...",2010,2016,60750428002016
172,6075045100,"Census Tract 451, San Francisco County, Califo...",2010,2016,60750451002016
173,6075045200,"Census Tract 452, San Francisco County, Califo...",2010,2016,60750452002016
174,6075047600,"Census Tract 476, San Francisco County, Califo...",2006,2016,60750476002016
175,6075047701,"Census Tract 477.01, San Francisco County, Cal...",2002,2016,60750477012016
176,6075047702,"Census Tract 477.02, San Francisco County, Cal...",2008,2016,60750477022016
177,6075047801,"Census Tract 478.01, San Francisco County, Cal...",2011,2016,60750478012016
178,6075047802,"Census Tract 478.02, San Francisco County, Cal...",2010,2016,60750478022016
179,6075047901,"Census Tract 479.01, San Francisco County, Cal...",2008,2016,60750479012016
180,6075047902,"Census Tract 479.02, San Francisco County, Cal...",2009,2016,60750479022016
181,6075060100,"Census Tract 601, San Francisco County, Califo...",-,2016,60750601002016
182,6075060400,"Census Tract 604, San Francisco County, Califo...",2011,2016,60750604002016
183,6075060502,"Census Tract 605.02, San Francisco County, Cal...",2007,2016,60750605022016
184,6075060700,"Census Tract 607, San Francisco County, Califo...",2012,2016,60750607002016
185,6075061000,"Census Tract 610, San Francisco County, Califo...",2012,2016,60750610002016
186,6075061100,"Census Tract 611, San Francisco County, Califo...",2006,2016,60750611002016
187,6075061200,"Census Tract 612, San Francisco County, Califo...",2008,2016,60750612002016
188,6075061400,"Census Tract 614, San Francisco County, Califo...",2012,2016,60750614002016
189,6075061500,"Census Tract 615, San Francisco County, Califo...",2012,2016,60750615002016
190,6075980200,"Census Tract 9802, San Francisco County, Calif...",2013,2016,60759802002016
191,6075980300,"Census Tract 9803, San Francisco County, Calif...",2011,2016,60759803002016
192,6075980401,"Census Tract 9804.01, San Francisco County, Ca...",-,2016,60759804012016
193,6075980501,"Census Tract 9805.01, San Francisco County, Ca...",2007,2016,60759805012016
194,6075980600,"Census Tract 9806, San Francisco County, Calif...",2012,2016,60759806002016
195,6075980900,"Census Tract 9809, San Francisco County, Calif...",2011,2016,60759809002016
196,6075990100,"Census Tract 9901, San Francisco County, Calif...",-,2016,60759901002016

In [157]:
grouped_evictions = pd.read_csv('/Users/ameliabaum/Desktop/Amelia/Berkeley 2018-2019/EnRes C190/evictionmodel_190final/data/evictions_geocoded11_tractandyear.csv')
grouped_evictions["num evictions"] = grouped_evictions["Eviction ID"]
grouped_evictions["geoid_year"] = grouped_evictions["Geoid"].astype(str) + grouped_evictions["Year"].astype(str)
grouped_evictions = grouped_evictions[["Geoid", "Year", "Eviction ID", "Tract", "geoid_year"]]

In [158]:
race = grouped_evictions.merge(allyears_race, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu = race.merge(allyears_edu, how='left', left_on="geoid_year", right_on="geoid_year")
race_edu_units = race_edu.merge(allyears_units, how='left', left_on="geoid_year", right_on="geoid_year")
race_edu_units_built = race_edu_units.merge(allyears_built, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu_units_built_moved = race_edu_units_built.merge(allyears_moved, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu_units_built_moved_hsize = race_edu_units_built_moved.merge(allyears_hsize, how='left', left_on="geoid_year", right_on="geoid_year")

race_edu_units_built_moved_burden = race_edu_units_built_moved_hsize.merge(allyears_burden, how='left', left_on="geoid_year", right_on="geoid_year")



#race_edu_units_built_moved_burden.fillna("missing", inplace=True)

In [159]:
race_edu_units_built_moved_burden.columns

Index(['Geoid', 'Year_x', 'Eviction ID', 'Tract', 'geoid_year', 'Id2_x',
       'Geography_x', 'Estimate; Total:', 'Estimate; Total: - White alone',
       'Estimate; Total: - Black or African American alone',
       'Estimate; Total: - American Indian and Alaska Native alone',
       'Estimate; Total: - Asian alone',
       'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone',
       'Year_y', 'Id2_y', 'Geography_y', 'Total; Estimate; Bachelor's degree',
       'Year_x', 'Id2_x', 'Geography_x', 'Estimate; Total', 'Year_y', 'Id2_y',
       'Geography_y', 'Estimate; Median year structure built', 'Year_x',
       'Id2_x', 'Geography_x',
       'Estimate; Median year householder moved into unit -- - Renter occupied',
       'Year_y', 'Id2_y', 'Geography_y',
       'Total; Estimate; Average household size', 'Year_x', 'Id2', 'Geography',
       'Estimate; Median gross rent as a percentage of household income',
       'Year_y'],
      dtype='object')

In [169]:
clean_data = race_edu_units_built_moved_burden[['Geoid','Year_x', 'Eviction ID', 'Tract', 'geoid_year', 'Estimate; Total:', 'Estimate; Total: - White alone',
       'Estimate; Total: - Black or African American alone',
       'Estimate; Total: - American Indian and Alaska Native alone',
       'Estimate; Total: - Asian alone',
       'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone', 
        'Total; Estimate; Bachelor\'s degree', 'Estimate; Total', 'Estimate; Median year structure built', 
        'Total; Estimate; Average household size', 'Estimate; Median gross rent as a percentage of household income']]

In [170]:
clean_data.columns

Index(['Geoid', 'Year_x', 'Year_x', 'Year_x', 'Year_x', 'Eviction ID', 'Tract',
       'geoid_year', 'Estimate; Total:', 'Estimate; Total: - White alone',
       'Estimate; Total: - Black or African American alone',
       'Estimate; Total: - American Indian and Alaska Native alone',
       'Estimate; Total: - Asian alone',
       'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone',
       'Total; Estimate; Bachelor's degree', 'Estimate; Total',
       'Estimate; Median year structure built',
       'Total; Estimate; Average household size',
       'Estimate; Median gross rent as a percentage of household income'],
      dtype='object')

In [173]:
cols = [2,3,4]
without_years = clean_data.drop(clean_data.columns[cols],axis=1)
without_years

,Geoid,Eviction ID,Tract,geoid_year,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Total; Estimate; Bachelor's degree,Estimate; Total,Estimate; Median year structure built,Total; Estimate; Average household size,Estimate; Median gross rent as a percentage of household income
0,6075010100,2,10100.0,60750101002011,3851.0,1686.0,346.0,11.0,1507.0,0.0,34,2278.0,1971,1.75,28.4
1,6075010200,1,10200.0,60750102002012,4040.0,3330.0,45.0,0.0,354.0,0.0,42.1,2946.0,1939-,1.51,22.5
2,6075010200,1,10200.0,60750102002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6075010300,2,10300.0,60750103002012,4393.0,2849.0,0.0,0.0,1544.0,0.0,31.1,2254.0,1939-,2.26,24.3
4,6075010300,2,10300.0,60750103002013,4729.0,2730.0,0.0,0.0,1901.0,0.0,31.3,2303.0,1939-,2.29,26.1
5,6075010300,3,10300.0,60750103002014,4346.0,2657.0,0.0,0.0,1557.0,0.0,5.8,2317.0,1939-,2.15,25.4
6,6075010300,4,10300.0,60750103002015,4387.0,2489.0,0.0,0.0,1700.0,0.0,1155,2395.0,1939-,2.16,24.2
7,6075010300,1,10300.0,60750103002016,4341.0,2673.0,0.0,0.0,1454.0,0.0,1232,2378.0,1939-,2.13,22.6
8,6075010300,1,10300.0,60750103002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6075010300,2,10300.0,60750103002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6075010400,4,10400.0,60750104002011,4531.0,3092.0,1.0,0.0,1210.0,0.0,38.1,2952.0,1939-,1.83,20.6
11,6075010400,3,10400.0,60750104002012,4749.0,3061.0,1.0,0.0,1373.0,0.0,35.4,2889.0,1939-,1.94,23.6
12,6075010400,4,10400.0,60750104002013,5103.0,3097.0,1.0,0.0,1465.0,0.0,38.3,2875.0,1939-,1.98,24.3
13,6075010400,4,10400.0,60750104002015,5148.0,3133.0,0.0,0.0,1429.0,0.0,1732,2805.0,1939-,2.01,24.6
14,6075010400,5,10400.0,60750104002016,5028.0,3111.0,0.0,5.0,1413.0,0.0,1611,2844.0,1939-,2,24.8
15,6075010400,2,10400.0,60750104002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,6075010400,4,10400.0,60750104002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6075010600,1,10600.0,60750106002013,3607.0,1215.0,78.0,0.0,2002.0,0.0,27.6,2145.0,1939-,1.99,34.9
18,6075010600,1,10600.0,60750106002014,3664.0,1164.0,36.0,0.0,2223.0,0.0,6.2,2116.0,1939-,1.99,33.9
19,6075010600,3,10600.0,60750106002015,3604.0,1244.0,64.0,0.0,2113.0,0.0,844,2098.0,1939-,1.93,27.8
20,6075010600,1,10600.0,60750106002016,3567.0,1260.0,58.0,0.0,2150.0,0.0,819,2097.0,1939-,1.97,27.5
21,6075010600,1,10600.0,60750106002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,6075010700,1,10700.0,60750107002012,5555.0,991.0,162.0,10.0,4290.0,0.0,20.3,2927.0,1939-,2.08,32.7
23,6075010700,1,10700.0,60750107002015,5302.0,1246.0,0.0,0.0,3998.0,0.0,905,2750.0,1939-,2.19,33.7
24,6075010800,1,10800.0,60750108002011,4819.0,2322.0,70.0,17.0,2260.0,0.0,44.4,2800.0,1939-,1.96,22.4
25,6075010800,1,10800.0,60750108002012,4811.0,2270.0,74.0,23.0,2354.0,0.0,42.2,2785.0,1939-,1.95,24.9
26,6075010800,1,10800.0,60750108002013,4925.0,2348.0,15.0,9.0,2379.0,0.0,51.1,2786.0,1939-,1.96,26.3
27,6075010800,3,10800.0,60750108002014,4779.0,2239.0,0.0,9.0,2286.0,0.0,6.2,2755.0,1939-,1.95,22.6
28,6075010800,4,10800.0,60750108002015,5065.0,2337.0,0.0,11.0,2423.0,0.0,1960,2787.0,1939-,2.01,22.4
29,6075010800,5,10800.0,60750108002016,4514.0,2210.0,0.0,0.0,2004.0,0.0,1590,2743.0,1939-,1.86,21.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,6075047901,2,47901.0,60750479012014,6571.0,3490.0,159.0,0.0,2461.0,21.0,5.2,2789.0,1944,2.47,30.6
808,6075047901,4,47901.0,60750479012015,6865.0,3303.0,190.0,0.0,2868.0,0.0,1694,2796.0,1943,2.56,33.2
809,6075047901,5,47901.0,60750479012016,6860.0,3282.0,184.0,0.0,2961.0,0.0,1710,2819.0,1943,2.52,32.8
810,6075047901,7,47901.0,60750479012017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
811,6075047901,2,47901.0,60750479012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
812,6075047902,1,47902.0,60750479022012,3813.0,1911.0,30.0,0.0,1490.0,0.0,35.3,1649.0,1940,2.44,29.8
813,6075047902,1,47902.0,60750479022013,3645.0,1869.0,27.0,0.0,1425.0,0.0,34.1,1669.0,1940,2.31,31.8
814,6075047902,1,47902.0,60750479022015,3722.0,1784.0,44.0,0.0,1487.0,0.0,982,1634.0,1939-,2.5,32.8
815,6075047902,1,47902.0,60750479022016,3701.0,1772.0,39.0,0.0,1414.0,0.0,952,1643.0,1939-,2.45,32.4
816,6075047902,1,47902.0,60750479022017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
817,6075060700,1,60700.0,60750607002011,7092.0,3264.0,169.0,0.0,3084.0,0.0,37.1,3913.0,2005,1.95,26.3
818,6075061000,1,61000.0,60750610002015,4587.0,859.0,419.0,19.0,2226.0,34.0,988,1618.0,2000,2.96,27.3
819,6075061000,3,61000.0,60750610002016,4730.0,843.0,711.0,12.0,2444.0,0.0,1066,1629.0,1999,2.96,29
820,6075061100,1,61100.0,60750611002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
821,6075061200,1,61200.0,60750612002011,3807.0,1191.0,926.0,0.0,950.0,0.0,11.2,1223.0,1942,3.39,35
822,6075061200,2,61200.0,60750612002012,3713.0,858.0,907.0,61.0,894.0,0.0,9.6,1195.0,1941,3.46,43.9
823,6075061200,1,61200.0,60750612002015,4296.0,792.0,880.0,70.0,1100.0,8.0,425,1242.0,1948,3.59,34.8
824,6075061400,1,61400.0,60750614002011,5343.0,2943.0,1106.0,199.0,577.0,141.0,32.8,2610.0,1947,2.23,25.1
825,6075061400,1,61400.0,60750614002012,5301.0,3448.0,350.0,296.0,623.0,174.0,33,2600.0,1948,2.27,23.9
826,6075061400,3,61400.0,60750614002013,5488.0,3566.0,425.0,321.0,522.0,195.0,34,2653.0,1945,2.29,22.5
827,6075061400,8,61400.0,60750614002014,5625.0,3862.0,290.0,0.0,846.0,136.0,6.5,2662.0,1945,2.31,21
828,6075061400,3,61400.0,60750614002015,6140.0,3679.0,469.0,13.0,954.0,70.0,1511,2644.0,1939-,2.45,19.3
829,6075061400,3,61400.0,60750614002016,6035.0,3263.0,566.0,15.0,932.0,65.0,1545,2625.0,1939-,2.43,19.5
830,6075061500,1,61500.0,60750615002015,12511.0,7293.0,154.0,31.0,4267.0,0.0,4264,8825.0,2001,1.68,24.2
831,6075061500,1,61500.0,60750615002016,13057.0,7187.0,162.0,33.0,4797.0,4.0,4483,9224.0,2001,1.71,23.2
832,Nan,1,NaN,Nan2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
833,Nan,2,NaN,Nan2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
834,Nan,1,NaN,Nan2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
835,Nan,3,NaN,Nan2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,Nan,1,NaN,Nan2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
without_years = without_years[without_years["Geoid"] != "Nan"] #this drops the last 4 rows which is correcct
without_years

,Geoid,Eviction ID,Tract,geoid_year,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Total; Estimate; Bachelor's degree,Estimate; Total,Estimate; Median year structure built,Total; Estimate; Average household size,Estimate; Median gross rent as a percentage of household income
0,6075010100,2,10100.0,60750101002011,3851.0,1686.0,346.0,11.0,1507.0,0.0,34,2278.0,1971,1.75,28.4
1,6075010200,1,10200.0,60750102002012,4040.0,3330.0,45.0,0.0,354.0,0.0,42.1,2946.0,1939-,1.51,22.5
2,6075010200,1,10200.0,60750102002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6075010300,2,10300.0,60750103002012,4393.0,2849.0,0.0,0.0,1544.0,0.0,31.1,2254.0,1939-,2.26,24.3
4,6075010300,2,10300.0,60750103002013,4729.0,2730.0,0.0,0.0,1901.0,0.0,31.3,2303.0,1939-,2.29,26.1
5,6075010300,3,10300.0,60750103002014,4346.0,2657.0,0.0,0.0,1557.0,0.0,5.8,2317.0,1939-,2.15,25.4
6,6075010300,4,10300.0,60750103002015,4387.0,2489.0,0.0,0.0,1700.0,0.0,1155,2395.0,1939-,2.16,24.2
7,6075010300,1,10300.0,60750103002016,4341.0,2673.0,0.0,0.0,1454.0,0.0,1232,2378.0,1939-,2.13,22.6
8,6075010300,1,10300.0,60750103002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6075010300,2,10300.0,60750103002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6075010400,4,10400.0,60750104002011,4531.0,3092.0,1.0,0.0,1210.0,0.0,38.1,2952.0,1939-,1.83,20.6
11,6075010400,3,10400.0,60750104002012,4749.0,3061.0,1.0,0.0,1373.0,0.0,35.4,2889.0,1939-,1.94,23.6
12,6075010400,4,10400.0,60750104002013,5103.0,3097.0,1.0,0.0,1465.0,0.0,38.3,2875.0,1939-,1.98,24.3
13,6075010400,4,10400.0,60750104002015,5148.0,3133.0,0.0,0.0,1429.0,0.0,1732,2805.0,1939-,2.01,24.6
14,6075010400,5,10400.0,60750104002016,5028.0,3111.0,0.0,5.0,1413.0,0.0,1611,2844.0,1939-,2,24.8
15,6075010400,2,10400.0,60750104002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,6075010400,4,10400.0,60750104002018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6075010600,1,10600.0,60750106002013,3607.0,1215.0,78.0,0.0,2002.0,0.0,27.6,2145.0,1939-,1.99,34.9
18,6075010600,1,10600.0,60750106002014,3664.0,1164.0,36.0,0.0,2223.0,0.0,6.2,2116.0,1939-,1.99,33.9
19,6075010600,3,10600.0,60750106002015,3604.0,1244.0,64.0,0.0,2113.0,0.0,844,2098.0,1939-,1.93,27.8
20,6075010600,1,10600.0,60750106002016,3567.0,1260.0,58.0,0.0,2150.0,0.0,819,2097.0,1939-,1.97,27.5
21,6075010600,1,10600.0,60750106002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,6075010700,1,10700.0,60750107002012,5555.0,991.0,162.0,10.0,4290.0,0.0,20.3,2927.0,1939-,2.08,32.7
23,6075010700,1,10700.0,60750107002015,5302.0,1246.0,0.0,0.0,3998.0,0.0,905,2750.0,1939-,2.19,33.7
24,6075010800,1,10800.0,60750108002011,4819.0,2322.0,70.0,17.0,2260.0,0.0,44.4,2800.0,1939-,1.96,22.4
25,6075010800,1,10800.0,60750108002012,4811.0,2270.0,74.0,23.0,2354.0,0.0,42.2,2785.0,1939-,1.95,24.9
26,6075010800,1,10800.0,60750108002013,4925.0,2348.0,15.0,9.0,2379.0,0.0,51.1,2786.0,1939-,1.96,26.3
27,6075010800,3,10800.0,60750108002014,4779.0,2239.0,0.0,9.0,2286.0,0.0,6.2,2755.0,1939-,1.95,22.6
28,6075010800,4,10800.0,60750108002015,5065.0,2337.0,0.0,11.0,2423.0,0.0,1960,2787.0,1939-,2.01,22.4
29,6075010800,5,10800.0,60750108002016,4514.0,2210.0,0.0,0.0,2004.0,0.0,1590,2743.0,1939-,1.86,21.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,6075047802,3,47802.0,60750478022017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,6075047802,2,47802.0,60750478022018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
804,6075047901,1,47901.0,60750479012011,6525.0,2888.0,275.0,45.0,2829.0,43.0,31.4,2784.0,1943,2.49,28.1
805,6075047901,2,47901.0,60750479012012,6775.0,3302.0,96.0,47.0,2771.0,22.0,32.4,2802.0,1943,2.51,27.9
806,6075047901,3,47901.0,60750479012013,6445.0,3182.0,150.0,35.0,2407.0,14.0,32.2,2770.0,1944,2.48,29.5
807,6075047901,2,47901.0,60750479012014,6571.0,3490.0,159.0,0.0,2461.0,21.0,5.2,2789.0,1944,2.47,30.6
808,6075047901,4,47901.0,60750479012015,6865.0,3303.0,190.0,0.0,2868.0,0.0,1694,2796.0,1943,2.56,33.2
809,6075047901,5,47901.0,60750479012016,6860.0,3282.0,184.0,0.0,2961.0,0.0,1710,2819.0,1943,2.52,32.8
810,6075047901,7,47901.0,60750479012017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
811,6075047901,2,47901.0,60750479012018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
812,6075047902,1,47902.0,60750479022012,3813.0,1911.0,30.0,0.0,1490.0,0.0,35.3,1649.0,1940,2.44,29.8
813,6075047902,1,47902.0,60750479022013,3645.0,1869.0,27.0,0.0,1425.0,0.0,34.1,1669.0,1940,2.31,31.8
814,6075047902,1,47902.0,60750479022015,3722.0,1784.0,44.0,0.0,1487.0,0.0,982,1634.0,1939-,2.5,32.8
815,6075047902,1,47902.0,60750479022016,3701.0,1772.0,39.0,0.0,1414.0,0.0,952,1643.0,1939-,2.45,32.4
816,6075047902,1,47902.0,60750479022017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
817,6075060700,1,60700.0,60750607002011,7092.0,3264.0,169.0,0.0,3084.0,0.0,37.1,3913.0,2005,1.95,26.3
818,6075061000,1,61000.0,60750610002015,4587.0,859.0,419.0,19.0,2226.0,34.0,988,1618.0,2000,2.96,27.3
819,6075061000,3,61000.0,60750610002016,4730.0,843.0,711.0,12.0,2444.0,0.0,1066,1629.0,1999,2.96,29
820,6075061100,1,61100.0,60750611002017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
821,6075061200,1,61200.0,60750612002011,3807.0,1191.0,926.0,0.0,950.0,0.0,11.2,1223.0,1942,3.39,35
822,6075061200,2,61200.0,60750612002012,3713.0,858.0,907.0,61.0,894.0,0.0,9.6,1195.0,1941,3.46,43.9
823,6075061200,1,61200.0,60750612002015,4296.0,792.0,880.0,70.0,1100.0,8.0,425,1242.0,1948,3.59,34.8
824,6075061400,1,61400.0,60750614002011,5343.0,2943.0,1106.0,199.0,577.0,141.0,32.8,2610.0,1947,2.23,25.1
825,6075061400,1,61400.0,60750614002012,5301.0,3448.0,350.0,296.0,623.0,174.0,33,2600.0,1948,2.27,23.9
826,6075061400,3,61400.0,60750614002013,5488.0,3566.0,425.0,321.0,522.0,195.0,34,2653.0,1945,2.29,22.5
827,6075061400,8,61400.0,60750614002014,5625.0,3862.0,290.0,0.0,846.0,136.0,6.5,2662.0,1945,2.31,21
828,6075061400,3,61400.0,60750614002015,6140.0,3679.0,469.0,13.0,954.0,70.0,1511,2644.0,1939-,2.45,19.3
829,6075061400,3,61400.0,60750614002016,6035.0,3263.0,566.0,15.0,932.0,65.0,1545,2625.0,1939-,2.43,19.5
830,6075061500,1,61500.0,60750615002015,12511.0,7293.0,154.0,31.0,4267.0,0.0,4264,8825.0,2001,1.68,24.2
831,6075061500,1,61500.0,60750615002016,13057.0,7187.0,162.0,33.0,4797.0,4.0,4483,9224.0,2001,1.71,23.2

In [193]:
#this isn't working yet because not all the datatypes are numeric
filled_means = without_years.apply(lambda x: x.fillna(x.mean()),axis=0)

TypeError: ('can only concatenate str (not "int") to str', "occurred at index Total; Estimate; Bachelor's degree")

In [187]:
without_years.to_csv("data/clean_demographic_data.csv") #work with this for now